@import '../../../_mixins';

.alt-data-table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
}

.alt-data-table {
  width: 100%;
  border-collapse: collapse;

  @include useFontSize(label, Large);
  font-weight: 500;
}

.alt-data-table__row {
  width: 100%;
}

.alt-data-table__cell {
  padding: 8px 16px;
  border: 1px solid var(--borderColor);
  @include useFontSize(body);
}

.alt-data-table__cell--header {
  position: relative;
  text-align: center;
  padding: 8px 24px;

  @include useFontSize(label, Large);
  font-weight: 600;
}

.alt-data-table__cell--show-more {
  position: relative;
  width: 50px;
  padding: 0;
}

.alt-data-table__showMore {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  color: var(--textColor);
  cursor: pointer;

  @include useDisabledUserSelect();
  @include useFocus();
}

.alt-data-table__sort-indicator {
  position: absolute;
  font-size: 20px;
  left: 8px;
  top: 8px;
}

.alt-data-table-mobile-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 20px 0;
}

.alt-data-table-mobile-cell {
  width: calc(50% - 6px);
}

.alt-data-table-mobile-cell__label {
  @include useFontSize(label, Large);
  color: var(--secondaryTextColor);
}

.alt-data-table-mobile-cell__value {
  @include useFontSize(body);
}

.alt-data-table-action {
  padding: 8px;
}

.alt-data-table--striped-odd {
  tbody tr:nth-child(odd) .alt-data-table__cell {
    background-color: var(--surfaceTrasparent);
  }

  tbody tr:nth-child(odd).alt-data-table__row--selected .alt-data-table__cell {
    background-color: var(--highlightHover);
  }
}

.alt-data-table--striped-even {
  tbody tr:nth-child(even) .alt-data-table__cell {
    background-color: var(--surfaceTrasparent);
  }

  tbody tr:nth-child(even).alt-data-table__row--selected .alt-data-table__cell {
    background-color: var(--highlightHover);
  }
}

.alt-data-table__checkbox-column {
  width: 48px;
}

.alt-data-table__row--selected td {
  background-color: var(--highlight);
}