.alt-data-table-header {
  display: flex;
  height: 42px;
  padding: 4px;
  background-color: var(--surface);
  border: 1px solid var(--borderColor);
  border-bottom: none;
  border-radius: 12px 12px 0 0;
}

.alt-data-table-header__filters {
  flex: 1;
}

.alt-data-table-header__search {
  display: flex;
  justify-content: flex-end;
  flex: 1;

  & + .alt-button {
    margin-left: 4px;
  }
}

.alt-data-table-header__filter-value {
  margin-left: 0.5ch;
  max-width: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}