@import '../../../_mixins';

.alt-data-table-footer {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 4px;
  background-color: var(--surface);
  border: 1px solid var(--borderColor);
  border-top: none;
  border-radius: 0 0 var(--containerRounding) var(--containerRounding);

  @include useDisabledUserSelect();
}

.alt-data-table-footer__status {
  flex: 1;

  @include useFontSize(label);
  margin-left: 16px;

  @include less($l-phone) {
    margin-left: 12px;
  }
}

.alt-data-table-footer__pagination {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.alt-data-table-pagination {
  display: flex;
  align-items: center;

  @include useFontSize(label, Large);

  @include less($l-phone) {
    margin-right: -8px;
  }
}

.alt-data-table-pagination__progress {
  margin: 0 4px;

  @include less($l-phone) {
    white-space: nowrap;
  }
}

.alt-data-table-pagination__currentPage {
  font-weight: 600;
}

.alt-data-table-footer-wrapper {
  padding: 0;

  td {
    text-align: left;
  }
}