@import 'src/global/mixins';

.ActionIsland {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--text-input-action-island-size);
  min-width: var(--text-input-action-island-size);
  width: fit-content;
  color: var(--text-input-action-island-text-color);
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  pointer-events: all;
  border-radius: var(--text-input-action-island-rounding);
  border: none;
  gap: var(--xs-gap);
  padding: 4px var(--text-input-action-island-horizontal-offset);
  background-color: var(--text-input-action-island-background-color);
  cursor: pointer;
  outline: none;
  transition: background-color 0.2s linear, color 0.2s linear;

  &:disabled {
    @include disabled;
  }

  &:hover,
  &:focus-visible {
    background-color: var(--text-input-action-island-hover-background-color);
  }

  &:active {
    background-color: var(--text-input-action-island-active-background-color);
  }
}

.Icon {
  display: flex;
  align-items: center;
  font-size: var(--text-input-action-island-icon-size);
}

.Label {
  font-weight: 500;
  font-size: var(--text-input-action-island-text-size);
}

.OnlyIcon {
  padding: 0;
}

.Danger {
  --text-input-action-island-text-color: var(--danger-text-1);

  &:hover,
  &:focus-visible {
    --text-input-action-island-text-color: var(--danger-text-1);
  }

  &:active {
    --text-input-action-island-text-color: var(--danger-text-1);
  }
}
