@import 'src/global/mixins';

.IconIsland {
  display: inline-flex;
  align-items: center;
  font-size: var(--text-input-icon-size);
  height: var(--text-input-icon-size);
  padding: 0 4px;
  font-weight: 500;
  pointer-events: none;
}
