@import 'src/global/mixins';

:global(:root) {
  --textIslandTextColor: var(--default-600);
}

:global(.AltroneDark) {
  --textIslandTextColor: var(--default-300);
}

.TextIsland {
  color: var(--textIslandTextColor);
  @include paragraph;
  font-size: var(--inputIslandTextSize);
  line-height: var(--inputIslandHeight);
  font-weight: 500;
  pointer-events: none;
}