@import 'src/global/mixins';

:global(:root) {
  --popoverSolidBackgroundColor: var(--default-100);

  &:global(.AltroneDark) {
    --popoverSolidBackgroundColor: var(--default-800);
  }
}

.Popover {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: var(--gap);
  z-index: var(--level-popover);
  transition: box-shadow var(--transitionDuration) ease;
  background: var(--glass-background-color);
  backdrop-filter: blur(32px) saturate(180%);
  border-radius: 24px;
  box-shadow: var(--shadow-1), var(--shadow-4);
  font-family: 'Inter Variable', sans-serif;
  transform-origin: top left;
}

.GlassEffect {
  background: var(--glass-background-color);
  -webkit-backdrop-filter: var(--glass-background-blur);
  backdrop-filter: var(--glass-background-blur);
}

.Content {
  @include paragraph;
}

.Header {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: space-between;
  margin-bottom: var(--l-gap);
  height: 32px;
}

.Heading {
  position: absolute;
  width: 100%;
  color: var(--text-2);
  font-weight: 600;
  text-align: center;
  padding-right: 32px;
  padding-left: 32px;
  min-height: 32px;
}

.Close {
  position: absolute;
  right: 0;
}

.Arrow {
  position: absolute;
  background: var(--popoverSolidBackgroundColor);
  width: 14px;
  height: 14px;
}

.InsideNotification {
  z-index: var(--level-toast);
}
