@import '../../../mixins';

.alt-toolbar-action {
  display: flex;
  position: relative;
  min-width: 60px;
  max-width: 120px;
  margin: 0;
  padding: 4px 8px;
  background-color: transparent;
  border: none;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: var(--textColor);
  transition: transform var(--transitionDuration) ease, box-shadow var(--transitionDuration) ease;
  border-radius: 12px;

  &:hover, &:focus {
    .alt-toolbar-action__icon {
      background-color: var(--surfaceTrasparent);
    }
  }

  &:active {
    transform: translateY(2px);
  }

  &:focus, &:focus-visible {
    outline: 0;
    box-shadow: inset 0 0 0 3px var(--accentFocus);;
  }
}

.alt-toolbar-action__icon {
  font-size: 24px;
  padding: 4px 8px;
  border-radius: 8px;
  transition: background-color var(--transitionDuration) ease;
}

.alt-toolbar-action__label {
  width: 100%;
  margin-top: 4px;
  @include useFontSize(label, Small);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alt-toolbar-action--disabled {
  color: var(--disabledText);
  pointer-events: none;
  opacity: 0.5;
}

.alt-toolbar-action--active {
  background-color: var(--surface);
  box-shadow: 0 3px 15px 0 var(--shadow);

  &:hover, &:focus {
    .alt-toolbar-action__icon {
      background-color: transparent;
    }
  }
}

.alt-toolbar-action--danger {
  color: var(--dangerText);

  &:hover, &:focus {
    .alt-toolbar-action__icon {
      background-color: var(--dangerHighlight);
    }
  }
}

.alt-toolbar-action--expand-invisible {
  position: absolute;
  visibility: hidden;
}

.alt-toolbar-action__indicator {
  position: absolute;
  top: 9px;
  right: 4px;
  padding: 2px 4px;
  background-color: var(--textColor);
  border-radius: 6px;
  color: var(--background);

  @include useFontSize(label, Small);

  &:empty {
    width: 8px;
    height: 8px;
    top: 15px;
    right: 12px;
    border-radius: 50%;
  }
}

.alt-toolbar-action__indicator--position-corner {
  top: 0;
  right: 4px;
  background-color: var(--danger);
  color: var(--textColorOnDanger);

  &:empty {
    top: 2px;
    right: 8px;
  }
}

.alt-toolbar-action-popup {
  padding: 8px;
}

.alt-toolbar-action--compact {
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  max-width: unset;
  min-height: 34px;
  height: 34px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  text-align: center;
  line-height: 34px;
  padding: 8px;

  @include useFocus();

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover, &:focus {
    background-color: var(--surfaceTrasparent);

    .alt-toolbar-action__icon {
      background-color: transparent;
    }
  }

  &:active {
    transform: none;
  }

  .alt-toolbar-action__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
  }

  .alt-toolbar-action__label {
    margin: 0;
    margin-left: 6px;

    @include useFontSize(label);
  }
}