@import '../../../mixins';

.alt-toolbar-menu {
  display: flex;
  gap: 4px;
  margin-bottom: 4px;
}

.alt-toolbar-menu__item {
  margin: 0;
  padding: 4px 12px;
  border: none;
  border-radius: var(--controlRounding);
  background-color: transparent;
  color: var(--textColor);
  cursor: pointer;
  transition: background-color var(--transitionDuration) ease;

  @include useFontSize(label, Large);

  &:hover, &:focus, &.alt-toolbar-menu__item--active {
    background-color: var(--surfaceTrasparent);
  }

  @include useFocus();
}