:global([data-altrone-root='true']) {
  --pagination-background: transparent;
  --pagination-rounding: var(--radius-m);
}

.Pagination {
  --pagination-gap: 4px;

  width: fit-content;
  padding: var(--pagination-gap);
  background: var(--pagination-background);
  --radius-outer: calc(var(--pagination-rounding) + var(--pagination-gap));
  border-radius: var(--radius-outer);
  user-select: none;
}

.Ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--text-2);
  font-size: var(--text-size-4);
}
