:global([data-altrone-root='true']) {
  --pagination-background: transparent;
  --pagination-rounding: var(--radius-m);
}

.Pagination {
  padding: 4px;
  background: var(--pagination-background);
  border-radius: calc(var(--pagination-rounding) + 4px);
  user-select: none;
}

.Ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: var(--text-2);
  font-size: var(--text-size-4);
}
