@import '../../../_mixins';

.alt-toolbar {
  display: flex;
  flex-direction: column;
  padding: 4px 12px 0;
  box-shadow: 0 3px 15px 0 var(--shadow);

  @include useGlassSurface();
}

.alt-toolbar__menu {
  display: flex;
}

.alt-toolbar__main {
  display: flex;
  align-items: flex-start;
  max-height: 68px;
  padding-bottom: 4px;
  overflow: hidden;
  gap: 24px;
}

.alt-toolbar-group {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.alt-toolbar-group--fluid {
  flex-grow: 1;
}

.alt-toolbar-group--align-start {
  justify-content: flex-start;
}

.alt-toolbar-group--align-end {
  justify-content: flex-end;
}

.alt-toolbar-group--collapsible {
  width: 100%;
  flex-wrap: wrap;
}

.alt-toolbar-group--invisible {
  position: absolute;
  visibility: hidden;
}

.alt-toolbar-separator {
  width: 1px;
  height: 48px;
  margin-top: 6px;
  border-left: 1px solid var(--borderColor);
}

.alt-toolbar--floated {
  position: fixed;
  width: 100%;
  border-radius: 12px;
  padding: 4px 4px 0;
}