:global {
  .sb-main-padded {
    padding: 0 !important;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--appBackground);
  padding: var(--gap) var(--xl-gap);
}