:global {
  .sb-main-padded {
    padding: 0 !important;
  }

  html, body {
    height: 100%;
  }
}

.Wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--gap) var(--xl-gap);
  min-height: 100%;
}