.GridCell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 8px);
  min-height: 100px;
  border-radius: 12px;
  padding: 12px;
  background-color: var(--background-2);
  color: var(--text-1);
  margin: 0 4px;
}