.alt-icon-island {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: var(--height);
  color: var(--secondaryTextColor);
  font-size: 1.375em;
}