@import '../../../../_mixins';

.alt-input {
  width: 100%;
  height: var(--height);
  margin: 0;
  padding: 6px 12px;
  background-color: var(--background);
  -moz-appearance: none;
  appearance: none;
  font-size: var(--fontSize);
  color: var(--textColor);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--controlRounding);
  border: 1px solid var(--borderColor);
  box-shadow: 0 1px 0 0 var(--buttonShadowColor);
  transition: box-shadow var(--transitionDuration) ease, opacity var(--transitionDuration) ease;

  @include useFocus();
  @include useFontSize(body);
  line-height: var(--height);

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }

  &::placeholder {
    color: var(--placeholderText);
  }
}

.alt-input--surface-none {
  background-color: transparent;
  border-color: transparent;
}

.alt-input--surface-transparent {
  background-color: var(--surfaceTrasparent);
  border-color: var(--borderColor);
}

.alt-input--surface-glass {
  @include useGlassSurface();
  border-color: var(--borderColor);
}

.alt-input--surface-solid {
  background-color: var(--surface);
  border-color: var(--borderColor);
}

.alt-input--surface-metal {
  background: linear-gradient(to bottom, var(--metalTop) 0%, var(--metalBottom) 100%);
  border-color: var(--borderColor);
}

@include useElevation('alt-input', null, true);