.Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdropColor);
  box-shadow: 0 3px 15px 0 var(--shadow);
  z-index: var(--level-modal-backdrop);
}