@import '../../../_mixins';

.alt-switcher {
  --switcherColor: var(--background);
  --switcherActiveColor: var(--accent);
  --switcherDotActiveColor: var(--textColorOnAccent);
  --text: var(--textColor);

  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text);

  @include useFontSize(label, Large);
  @include useDisabledUserSelect();
}

.alt-switcher__input {
  @include useNonStandardAppearance();

  &:checked + .alt-switcher__indicator {
    background-color: var(--switcherActiveColor);
    border-color: var(--switcherActiveColor);

    &:before {
      background-color: var(--switcherDotActiveColor);
      left: calc(100% - 22px);
      box-shadow: var(--raisedElevation);
    }
  }
}

.alt-switcher__indicator {
  position: relative;
  width: 48px;
  height: 26px;
  margin-right: 12px;
  border-radius: 13px;
  box-sizing: border-box;
  background-color: var(--metalTop);
  transition: background-color var(--transitionDuration) ease, box-shadow var(--transitionDuration) ease;

  &:before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    top: 4px;
    left: 4px;
    border-radius: var(--circleRounding);
    background-color: var(--switcherColor);
    transition: left var(--transitionDuration) ease, background-color var(--transitionDuration) linear, box-shadow var(--transitionDuration) linear;
  }
}

.alt-switcher__input:focus + .alt-switcher__indicator, .alt-switcher__input:focus-visible + .alt-switcher__indicator {
  @include useFocusStyles();
}

.alt-switcher__label {
  flex: 1;
}

.alt-switcher--danger {
  --switcherColor: var(--danger);
  --switcherActiveColor: var(--danger);
  --switcherDotActiveColor: var(--textColorOnDanger);
  --text: var(--danger);
}

.alt-switcher--disabled {
  --switcherColor: var(--disabledText);
  --switcherActiveColor: var(--disabledText);
  --switcherDotActiveColor: var(--surface);
  --text: var(--disabledText);

  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.alt-switcher--pin-end {
  .alt-switcher__indicator {
    order: 1;
    margin-right: 0;
    margin-left: 6px;
  }
}

.alt-basic-input--invalid {
  .alt-switcher__input + .alt-switcher__indicator {
    border-color: transparent;
    box-shadow: 0 0 0 1px var(--danger);
  }

  .alt-switcher__input:focus + .alt-switcher__indicator {
    border-color: transparent;
    box-shadow: 0 0 0 2px var(--danger);
  }
}