@import '../../../_mixins';

.alt-chips {
  display: flex;
  align-items: center;
  row-gap: 4px;
  column-gap: 6px;
  flex-wrap: wrap;
}

.alt-chips--direction-vertical {
  flex-direction: column;
  align-items: flex-start;
}

.alt-chip {
  display: flex;
  margin: 0;
  padding: 3px 8px;
  background-color: var(--surface);
  border: 1px solid var(--borderColor);
  color: var(--textColor);
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color var(--transitionDuration) ease;

  @include useFocus();
  @include useDisabledUserSelect();
  @include useFontSize(label, Large);

  &:hover {
    background-color: var(--highlight);
    color: var(--textOnHighlight);
    border-color: transparent;
  }

  &:disabled {
    pointer-events: none;
    color: var(--disabledText);
    opacity: 0.5;
  }
}

.alt-chip__icon {
  font-size: 20px;
}

.alt-chip__label {
  margin-left: 0;
  transition: margin-left var(--transitionDuration) ease;
}

.alt-chip--selected {
  background-color: var(--accent);
  color: var(--textColorOnAccent);
  border-color: transparent;

  &:hover {
    background-color: var(--accent);
    color: var(--textColorOnAccent);
  }

  &:disabled {
    background-color: var(--disabledText);
    color: var(--textColorOnAccent);
  }

  .alt-chip__label {
    margin-left: 2px;
  }
}