:global([data-altrone-root='true']) {
  --radio-background-color: var(--interactive-a1);
  --radio-icon-color: var(--text-2);
  --radio-border-color: var(--border-a1);
  --radio-hover-background-color: var(--interactive-a2);
  --radio-checked-background-color: var(--accent-a5);
  --radio-checked-icon-color: var(--accent-12);
  --radio-checked-border-color: var(--border-a1);
  --radio-text-color: var(--text-2);
}

.RadioList {
  display: flex;
  gap: var(--gap);
  flex-direction: row;
  flex-wrap: wrap;
}

.Vertical {
  flex-direction: column;
}
