:global([data-altrone-root='true']) {
  --dropdown-background-color: var(--interactive-a1);
  --dropdown-press-background-color: var(--interactive-a2);
  --dropdown-text-color: var(--text-2);
  --dropdown-hint-text-color: var(--solid-1);
  --dropdown-opened-background-color: var(--interactive-a3);
  --dropdown-opened-text-color: var(--text-2);

  --dropdown-badge-background-color: var(--interactive-a2);
  --dropdown-badge-rounding: 10px;
  --dropdown-badge-min-width: 20px;
  --dropdown-badge-size: 20px;
  --dropdown-badge-padding: 6px;
  --dropdown-badge-font-size: 10px;
}

.Menu {
  display: flex;
  flex-direction: column;
  padding: 4px;
  overflow-y: auto;
  position: relative;
}

.Action {
  display: flex;
  position: relative;
  align-items: center;
  padding: 6px 8px;
  border-radius: 16px;
  // background: var(--dropdown-background-color);
  border: none;
  text-align: left;
  color: var(--dropdown-text-color);
  cursor: pointer;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  height: 32px;
  outline: 0;
  background-color: transparent;
  text-decoration: none;

  &:active {
    .ItemBackground {
      background-color: var(--dropdown-press-background-color);
      scale: 1.02;
    }
  }
}

.DangerAction {
  --dropdown-background-color: var(--red-a3);
  --dropdown-press-background-color: var(--red-a4);
  --dropdown-text-color: var(--danger-color);
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  font-size: 18px;
  height: 24px;
}

.Label {
  flex: 1;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Hint {
  font-family: var(--font-family-code);
  font-size: var(--text-size-3);
  line-height: var(--line-height-3);
  color: var(--dropdown-hint-text-color);
  text-align: right;
}

.Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  font-size: 16px;
  height: 24px;
}

.DisabledAction {
  pointer-events: none;
  opacity: 0.5;
}

.OpenedAction {
  pointer-events: none;
  background-color: var(--dropdown-opened-background-color);
}

.Action .Badge {
  display: inline-block;
  text-align: center;
  background: var(--dropdown-badge-background-color);
  border-radius: var(--dropdown-badge-rounding);
  font-size: var(--dropdown-badge-font-size);
  font-weight: 600;
  margin-right: -2px;
  line-height: var(--dropdown-badge-size);
  min-width: var(--dropdown-badge-min-width);
  padding: 0 var(--dropdown-badge-padding);
  height: var(--dropdown-badge-size);
}

.ItemBackground {
  position: absolute;
  background-color: var(--dropdown-background-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  will-change: background-color, transform, top, left;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.Menu:not(:has(.Action > .Icon:not(:empty))) .Action .Icon {
  display: none;
}
