.Menu {
  display: flex;
  flex-direction: column;
  padding: 4px;
  overflow-y: auto;
  position: relative;
}

.ItemBackground {
  position: absolute;
  background-color: var(--interactive-a1);
  border-radius: 16px;
  z-index: 0;
  pointer-events: none;
}
