.alt-search {
  .alt-text-input__control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration { display: none; }
  }
}

.alt-search-placeholder {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: var(--controlHeight);
  top: 0;
  left: 0;
  font-weight: 400;
  pointer-events: none;
  color: var(--placeholderText);
}

.alt-search-placeholder__icon {
  margin-right: 6px;
  font-size: 1.25em;
}