@import 'src/global/mixins';

.RadioItem {
  display: flex;
  align-items: center;
  gap: var(--gap);
  outline: 0;
  cursor: pointer;

  &:hover {
    --radio-background-color: var(--radio-hover-background-color);
  }
}

.Input {
  display: none;
}

.Label {
  color: var(--radio-text-color);
  font-weight: 500;
  font-size: 14px;
}

.Button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--radio-background-color);
  transition: background-color 0.1s linear;
  box-shadow: 0 0 0 1px var(--radio-border-color), var(--shadow-1);

  &:after {
    display: none;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: 6px;
    left: 6px;
    background-color: var(--radio-icon-color);
    border-radius: 50%;
  }
}

.Checked {
  --radio-background-color: var(--radio-checked-background-color);
  --radio-icon-color: var(--radio-checked-icon-color);
  --radio-border-color: var(--radio-checked-border-color);

  .Button:after {
    display: block;
  }

  &:hover {
    --radio-background-color: var(--radio-checked-background-color);
  }
}

.Disabled {
  @include disabled;
}
