@import "../../../mixins";

.alt-photo-viewer {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--blackout);

  @include useDisabledUserSelect();
}

.alt-photo-viewer__container {
  //position: relative;
  width: 100%;
  height: 100%;
}

.alt-photo-viewer__image {
  //position: absolute;
  //transform: translateX(-50%) translateY(-50%);
  object-fit: contain;
  max-width: 75%;
  max-height: 90%;
  //left: 50%;
  //top: 50%;
  border-radius: var(--ÑontainersRounding);
  box-shadow: 0 3px 15px 0 var(--shadow);
  //transition: transform 0.2s linear;
  background-color: var(--surfaceTrasparent);
  backdrop-filter: blur(16px);
  cursor: grab;

  &[data-grabbing] {
    pointer-events: none;
    cursor: grabbing;
  }

  @include less($l-phone) {
    max-width: calc(100vw - 8px);
  }
}

.alt-photo-viewer-toolbar {
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: var(--controlRounding);
  gap: 4px;
  padding: 4px;
  color: var(--textColor);
  box-shadow: 0 3px 15px 0 var(--shadow);
  cursor: grab;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  left: 50%;
  top: 80%;
  transform: translate(-50%);

  @include useGlassSurface();

  @include less($l-phone) {
    justify-content: center;
    left: 4px;
    top: auto;
    bottom: 8px;
    width: calc(100vw - 8px);
    max-height: 42px;
    transform: none;
  }
}

.alt-photo-viewer-toolbar__action {
  display: flex;
  align-items: center;
  font-size: 20px;
  background: none;
  border: none;
  height: 34px;
  padding: 8px;
  border-radius: var(--innerRounding);
  font-weight: 400;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  color: var(--textColor);
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include useInteraction {
    background-color: var(--surfaceTrasparent);
  }

  @include useFocus();
}

.alt-photo-viewer-toolbar__zoom {
  @include useFontSize(label);
  font-weight: 600;
  padding: 4px 12px;
  color: var(--secondaryTextColor);
  cursor: grab;
}

.alt-photo-viewer-info {
  position: absolute;
  bottom: 16px;
  left: 16px;
  max-width: 40%;
  border-radius: var(--controlRounding);
  box-shadow: 0 3px 15px 0 var(--shadow);
  padding: 4px;

  @include useGlassSurface();

  @include less($l-phone) {
    bottom: 54px;
    left: 4px;
    max-width: calc(100vw - 8px);
    max-height: 200px;
  }
}

.alt-photo-viewer-info__caption {
  @include useFontSize(label, Large);
  margin: 8px;

  @include less($l-phone) {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.alt-photo-viewer-info__description {
  @include useFontSize(body, Small);
  margin: 8px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 8px;

  @include less($l-phone) {
    margin: 4px 8px;
    max-height: 80px;
  }
}

.alt-photo-viewer-info__counter {
  @include useFontSize(label);
  margin: 8px;

  strong {
    font-weight: 600;
    margin-right: 2px;
  }

  @include less($l-phone) {
    margin: 2px 8px 4px ;
    @include useFontSize(label, Small);
  }
}

.alt-photo-viewer-toolbar[data-dragging] {
  box-shadow: 0 10px 30px 0 var(--shadow);
  transform: scale(1.025);
  cursor: grabbing;

  > * {
    pointer-events: none;
  }
}

.alt-photo-viewer__loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%) scale(0.75);
}

.alt-photo-viewer-toolbar__action--left {
  margin-right: auto;
}

.alt-photo-viewer-toolbar__action--right {
  margin-left: auto;
}

.alt-photo-viewer__hidden-image {
  visibility: hidden;
  position: absolute;
  left: -10000px;
  top: -10000px;
}