@import 'src/global/mixins';

.Link {
  position: relative;
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 4px 0 30px;
  cursor: pointer;
  color: var(--navigation-list-link-text-color);
  background-color: var(--navigation-list-link-background-color);
  transition: background-color 0.2s ease;
  font-weight: 500;
  font-size: var(--navigation-list-link-text-size);
  text-decoration: none;
  z-index: 1;
  gap: 8px;

  @include no-selection;
  @include focus;

  &:before {
    position: absolute;
    display: block;
    width: 50%;
    left: 25%;
    top: 25%;
    height: 50%;
    border-radius: 6px;
    content: '';
    opacity: 0;
    z-index: -1;
    background-color: var(--navigationListHoveredLinkBackgroundColor);
    transition: top 0.2s ease, left 0.2s ease, width 0.2s ease, height 0.2s ease;
  }
}

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--navigation-list-link-rounding);
  background-color: var(--navigation-list-link-backdrop-color);
  pointer-events: none;
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--navigation-list-link-text-color);
  font-size: var(--navigation-list-link-icon-size);
  margin-left: -24px;
}

.Label {
  display: flex;
  align-items: center;
  z-index: 1;
  gap: 6px;
  flex: 1;
}

.LabelText {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Actions {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  gap: 2px;
  margin-left: auto;
}

.NestedList {
  display: flex;
  flex-direction: column;
}

.SecondLevelList {
  display: flex;
  flex-direction: column;

  .Link {
    padding-left: 54px;
  }
}

.ThirdLevelList {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--navigation-list-secondary-link-border-color);
  margin-left: 54px;
  padding-left: 6px;

  .Link {
    padding-left: 12px;
  }

  .ThirdLevelList {
    margin-left: 5px;
  }
}

.ChildrenIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 4px;
}

.Badge {
  color: var(--navigation-list-badge-text-color);
  background-color: var(--navigation-list-badge-background-color);
  height: var(--navigation-list-badge-size);
  min-width: var(--navigation-list-badge-size);
  border-radius: var(--navigation-list-badge-rounding);
  padding: 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--navigation-list-badge-font-size);
  font-weight: 500;
}
