.alt-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.alt-list__separator {
  flex: 0;
}

.alt-list--direction-horizontal {
  flex-direction: row;
  align-items: stretch;
}

.alt-list--line-break {
  flex-wrap: wrap;
}