@import '../../../mixins';

.alt-file-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed var(--borderColor);
  border-radius: 8px;
  padding: 18px 12px;
  cursor: pointer;
  width: 100%;
}

.alt-file-zone__icon {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 0 3px 15px var(--shadow);
}

.alt-file-zone__label {
  @include useFontSize(label, Large);
  text-align: center;
}

.alt-file-zone__files {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-top: -8px;

  & + .alt-file-zone__icon {
    margin-top: 24px;
  }
}