@import '../../../mixins';

.alt-file-picker {
  display: flex;
  align-items: center;
}

.alt-button.alt-file-picker-button {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding-left: 12px;
  text-align: left;
  padding-right: 12px;
}

.alt-file-picker-button__icon {
  font-size: 20px;
  margin-right: 8px;
}

.alt-file-picker-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  color: white;
  border-radius: 0.25em;
  background: gray;
  font-size: 18px;
  margin-left: -6px;

  .alt-icon {
    font-size: 1em;
  }
}

.alt-file-picker-button__label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alt-file-picker-button__loading {
  position: absolute;
  right: 0;
  width: 34px;
  height: 34px;
}

.alt-file-picker__button {
  display: flex;
}

.alt-file-picker__input {
  position: absolute;
  left: -1000px;
  top: -1000px;
  opacity: 0;
}

.alt-file-picker-file {
  display: flex;
  align-items: center;
  max-width: calc(100% - 32px);
  //max-width: -webkit-fill-available;
  //max-width: fill-available;
  flex: 1;
}

.alt-file-picker-file__name {
  flex: 1;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alt-file-picker-file__size {
  margin-left: auto;
  color: var(--secondaryTextColor);
}

.alt-file-picker-icon--document {
  background: #42A5F5;
}

.alt-file-picker-icon--image {
  background: #F06292;
}

.alt-file-picker-icon--audio {
  background: #F44336;
}

.alt-file-picker-icon--video {
  background: #5E35B1;
}

.alt-file-picker-icon--table {
  background: #8BC34A;
}

.alt-file-picker-icon--presentation {
  background: #FFC107;
}

.alt-file-picker-icon--code {
  background: #3F51B5;
}

.alt-file-picker-icon--archive {
  background: #D4E157;
}

.altrone--dark {
  .alt-file-picker-icon--presentation {
    background: #FFA000;
  }

  .alt-file-picker-icon--archive {
    background: #AFB42B;
  }
}

.alt-file-picker--variant-block {
  padding: 8px;
  border-radius: var(--containerRounding);

  @include useGlassSurface();
}