@import '../../../mixins';

.alt-file-tile {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 180px;
  border-radius: var(--controlRounding);
  transition: background-color var(--transitionDuration) ease;
  cursor: default;
  background-color: transparent;
  border: none;

  @include useDisabledUserSelect();

  &:hover {
    background-color: var(--highlight);

    .alt-file-tile__close {
      display: flex;
    }
  }
}

.alt-file-tile--error {
  .alt-file-tile__title {
    color: var(--importantText);
    @include useFontSize(label, Small);
    height: auto;
  }
}

.alt-file-tile__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  height: 31px;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-top: 12px;
  width: 80%;
  left: 10%;
  text-align: center;
  color: var(--textColor);
  @include useFontSize(label);
}

.alt-file-tile__action {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  background-color: var(--surface);
  box-shadow: var(--raisedElevation);
  cursor: pointer;
  color: var(--textColor);
}

.alt-file-tile__close {
  display: none;
  top: 4px;
  right: 4px;
}

.alt-file-tile__repeat {
  display: flex;
  top: 4px;
  left: 4px;
  color: var(--accent);
}

.alt-file-tile__progress {
  display: flex;
  position: absolute;
  width: 48px;
  padding-left: 4px;
  padding-right: 4px;
  height: 16px;
  top: 90px;
  left: calc(50% - 20px);
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  background-color: var(--surface);
  box-shadow: var(--raisedElevation);

  .alt-progress {
    width: 100%;
    box-shadow: none;
  }
}

.alt-file-tile--upload {
  cursor: pointer;

  .alt-file-icon__content {
    background-color: var(--surfaceTrasparent);
    border: 2px dashed var(--borderColor);
    box-shadow: none;
    border-radius: 4px;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}