@import '../../../mixins';

.alt-file-tile {
  display: flex;
  background-color: var(--background);
  border-radius: var(--innerRounding);;
  align-items: center;
  padding: 8px 16px;
  box-shadow: 0 3px 15px 0 var(--shadow);

  &:hover, &:focus {
    .alt-file-tile__remove {
      visibility: visible;
    }
  }
}

.alt-file-tile__icon {
  font-size: 36px;
  margin-right: 12px;

  .alt-file-picker-icon {
    width: 36px;
    height: 36px;
    font-size: 26px;
  }
}

.alt-file-tile__content {
  flex: 1;
}

.alt-file-tile__remove {
  margin-left: 12px;
  margin-right: -8px;
  visibility: hidden;
}

.alt-file-tile__fileName {
  @include useFontSize(label, Large);
}

.alt-file-tile__fileSize {
  @include useFontSize(label);
  color: var(--secondaryTextColor);
  margin-top: 4px;
}