@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --side-navigation-item-text-color: var(--text-2);
  --side-navigation-item-active-text-color: var(--accent-11);
  --side-navigation-item-text-size: 14px;
}

.SideNavigation {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--xl-gap) var(--gap);
}

.Title {
  color: var(--side-navigation-item-text-color);
  font-size: var(--side-navigation-item-text-size);
  font-weight: 500;
  line-height: 20px;
}

.Menu {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-left: 0;
  margin-top: var(--l-gap);
}
