@import '../../../_mixins';

.alt-select {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  color: var(--textColor);
  border-radius: 8px;
  background-color: var(--surface);
  border: 1px solid var(--borderColor);
  padding: 6px 6px 6px 12px;
  box-sizing: border-box;
  cursor: pointer;

  @include useFontSize(label, Large);
  @include useFocus();
  @include useDisabledUserSelect();
  @include useSoftShadow();
}

.alt-select__value {
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;

  .alt-select-option {
    pointer-events: none;
    padding: 0;

    .alt-select-option__icon {
      display: none;
    }
  }
}

.alt-select__arrow {
  margin-left: 8px;
  font-size: 24px;
  color: var(--secondaryTextColor);
  transition: transform var(--transitionDuration) ease;
}

.alt-select-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: var(--textColor);
  max-height: 250px;
  overflow-y: auto;
  overflow-y: overlay;
  gap: 8px;
}

.alt-select-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.alt-select-group__title {
  padding-top: 2px;
  margin-left: 4px;
  color: var(--secondaryTextColor);
  padding-left: 4px;
  @include useFontSize(label, Small);
}

.alt-select-option {
  --background: transparent;
  --text: var(--textColor);

  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 6px;
  text-align: left;
  padding: 3px 10px 3px 6px;
  border: none;
  background-color: var(--background);
  margin: 0;
  color: var(--text);
  cursor: pointer;

  @include useFontSize(label, Large);
  @include useDisabledUserSelect();

  &:hover, &.alt-select-option--selected {
    --background: var(--accent);
    --text: var(--textColorOnAccent)
  }
}

.alt-select-option__icon {
  width: 20px;
  min-width: 20px;
  height: 20px;
  visibility: hidden;
  font-size: 20px;
  margin-right: 6px;
}

.alt-select-option__label {
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.alt-select-menu__title {
  @include useFontSize(title);
  text-align: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.alt-select-menu__selector {
  margin-bottom: 20px;
}

.alt-select-option--selected {
  .alt-select-option__icon {
    visibility: visible;
  }
}

.alt-select-option--disabled {
  --text: var(--secondaryTextColor);

  pointer-events: none;
  opacity: 0.5;

  &:hover, &.alt-select-option--selected {
    --background: var(--secondaryTextColor);
    --text: var(--textColorOnAccent);
  }
}

.alt-select--fluid {
  width: 100%;
}

.alt-select--active {
  .alt-select__arrow {
    transform: rotate(-180deg);
  }
}

.alt-select--disabled {
  pointer-events: none;
  opacity: 0.5;

  .alt-select__value {
    color: var(--secondaryTextColor);
  }
}

.alt-select-placeholder {
  color: var(--placeholderText);
}