:global([data-altrone-root='true']) {
  --text-color: var(--text-2);
  --text-code-background-color: var(--accent-1);
  --text-code-border-color: var(--accent-6);
  --text-code-text-color: var(--accent-12);
  --text-highlighted-background-color: var(--accent-3);
  --text-highlighted-text-color: var(--accent-12);

  --text-list-offset: 24px;
  --text-rounding: 8px;

  --text-color-muted: var(--text-1);
  --text-color-danger: var(--danger-text-1);
  --text-color-success: var(--success-text-1);
  --text-color-warning: var(--warning-text-1);
}

:global([data-altrone-root='true'][data-altrone-theme='dark']) {
  --text-code-background-color: var(--interactive-2);
  --text-code-border-color: var(--border-a1);
  --text-code-text-color: var(--text-1);
  --text-highlighted-background-color: var(--interactive-2);
  --text-highlighted-text-color: var(--accent-12);
}

.Text {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
  font-weight: var(--text-weight-regular);
  font-family: var(--font-family-base);
  color: var(--text-color);
}

.Block {
  display: block;
  margin: 0;
}

.WeightMedium {
  font-weight: var(--text-weight-medium);
}

.WeightBold {
  font-weight: var(--text-weight-bold);
}

.WeightLight {
  font-weight: var(--text-weight-light);
}

.Size1 {
  font-size: var(--text-size-1);
  line-height: var(--line-height-1);
}

.Size2 {
  font-size: var(--text-size-2);
  line-height: var(--line-height-2);
}

.Size3 {
  font-size: var(--text-size-3);
  line-height: var(--line-height-3);
}

.Size4 {
  font-size: var(--text-size-4);
  line-height: var(--line-height-4);
}

.Size5 {
  font-size: var(--text-size-5);
  line-height: var(--line-height-5);
}

.Size6 {
  font-size: var(--text-size-6);
  line-height: var(--line-height-6);
}

.Size7 {
  font-size: var(--text-size-7);
  line-height: var(--line-height-7);
}

.Size8 {
  font-size: var(--text-size-8);
  line-height: var(--line-height-8);
}

.Size9 {
  font-size: var(--text-size-9);
  line-height: var(--line-height-9);
}

.List {
  padding-left: var(--text-list-offset);
}

.Item {
  display: list-item;

  &::marker {
    color: var(--disabled-text-color);
    font-weight: var(--text-weight-medium);
  }
}

.Italic {
  font-style: italic;
}

.Underline {
  text-decoration: underline;
}

.Deleted {
  text-decoration: line-through;
  color: var(--disabled-text-color);
}

.Highlighted {
  border-radius: var(--text-rounding);
  color: var(--text-highlighted-text-color);
  padding: 0 var(--xs-gap);
  background: var(--text-highlighted-background-color);
  font-weight: var(--text-weight-medium);
}

.Link {
  color: var(--accent-11);
  font-weight: var(--text-weight-medium);
  text-decoration: none;
  transition: color 0.2s linear;

  &:hover,
  &:focus-visible {
    color: var(--accent-12);
    text-decoration: underline;
  }
}

.Code {
  color: var(--text-code-text-color);
  font-family: var(--font-family-code);
  background: var(--text-code-background-color);
  padding: 0 var(--xs-gap);
  border-radius: var(--text-rounding);
  box-shadow: inset 0 0 0 1px var(--text-code-border-color);
  font-weight: var(--text-weight-medium);
}

.Kbd {
  color: var(--disabled-text-color);
  font-family: var(--font-family-code);
  font-weight: var(--text-weight-medium);
  letter-spacing: -0.05em;
}

.Truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LineClamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--_text-line-clamp, 1);
}

.Nowrap {
  white-space: nowrap;
}

.AlignStart {
  text-align: start;
}

.AlignCenter {
  text-align: center;
}

.AlignEnd {
  text-align: end;
}

.AlignJustify {
  text-align: justify;
}

.ColorMuted {
  color: var(--text-color-muted);
}

.ColorDanger {
  color: var(--text-color-danger);
}

.ColorSuccess {
  color: var(--text-color-success);
}

.ColorWarning {
  color: var(--text-color-warning);
}
