.Success {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--success-solid-1);
  color: var(--white);
  left: 50%;
  top: 50%;
  font-size: 16px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 0 color(display-p3 0.332 0.634 0.442 / 0.5);
}
