@import 'src/global/mixins';

:global(:root) {
  --toastTextColor: var(--default-900);
  --toastSuccessTextColor: var(--success-600);
  --toastWarningTextColor: var(--warning-800);
  --toastDangerTextColor: var(--danger-600);
  --toastify-toast-width: 340px;
  --toastify-toast-min-height: auto;
}

:global(.AltroneDark) {
  --toastTextColor: var(--default-50);
  --toastSuccessTextColor: var(--success-400);
  --toastWarningTextColor: var(--warning-400);
  --toastDangerTextColor: var(--danger-400);
}

.Wrapper {
  //width: 100%;
  z-index: var(--level-toast);
}

.Toast {
  @include glass-surface;
  @include sm-paragraph;
  min-height: 34px;
  width: fit-content;
  margin: 0 auto var(--l-gap);
  border-radius: 6px;
  color: var(--toastTextColor);
  display: flex;
  align-items: center;

  :global(.Toastify__toast-body) {
    padding: 2px;
  }
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--toastTextColor);
}

.Notification {
  width: 340px;
  padding: 8px;
  @include glass-surface;
  border-radius: 12px;
  box-shadow: 0 1px 15px 0 var(--scrollbarShadowColor);
}

.Success {
  .Icon {
    color: var(--toastSuccessTextColor);
  }
}

.Warning {
  .Icon {
    color: var(--toastWarningTextColor);
  }
}

.Danger {
  .Icon {
    color: var(--toastDangerTextColor);
  }
}