@import "../../../../mixins";

.alt-dropdown-menu {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  gap: 2px;

  @include less($l-phone) {
    width: 100%;
    min-width: unset;
    max-width: unset;
  }
}