.alt-list-wrapper {
  display: flex;
  flex-direction: column;
}

.alt-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.alt-list-pagination {
  display: flex;
  margin-top: 8px;
  justify-content: center;
}

.alt-list--direction-horizontal {
  flex-direction: row;
}

.alt-list--line-break {
  flex-wrap: wrap;
}