@import "../../../../mixins";

.alt-dropdown-item {
  display: flex;
  align-items: center;
  @include useFontSize(label, Large);
  border-radius: var(--controlRounding);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 8px 5px 6px;
  color: var(--textColor);
  margin: 0;
  @include useDisabledUserSelect();
  outline: 0;

  @include useInteraction {
    background-color: var(--accent);
    color: var(--textColorOnAccent);

    .alt-dropdown-item__hint {
      color: var(--textColorOnAccent);
    }
  }

  &[data-active] {
    background-color: var(--accent);
    color: var(--textColorOnAccent);

    .alt-dropdown-item__hint {
      color: var(--textColorOnAccent);
    }
  }

  @include less($l-phone) {
    padding: 12px;
  }
}

.alt-dropdown-item__icon {
  display: inline-flex;
  align-items: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-right: 6px;
}

.alt-dropdown-item__title {
  text-align: left;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alt-dropdown-item__hint {
  color: var(--secondaryTextColor);
  margin-left: 10px;

  @include less($l-phone) {
    display: none;
  }
}

.alt-dropdown-item--danger {
  color: var(--danger);

  &:hover, &:focus {
    background-color: var(--danger);
    color: var(--textColorOnDanger);
  }
}

.alt-dropdown-item--disabled {
  pointer-events: none;
  opacity: 0.5;
}

.alt-dropdown-item__checkbox {
  justify-content: center;
}

.alt-dropdown-divider {
  width: calc(100% - 16px);
  margin: 8px;
  border: none;
  border-top: 1px solid var(--dividerColor);
}