@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --filePickerEmptyTextColor: var(--text-1);
}

.FilePicker {
}

.Input {
  display: none;
}

.EmptyLabel {
  @include sm-paragraph;
  color: var(--filePickerEmptyTextColor);
}