.Mini {
  --tags-item-font-size: var(--text-size-3);
  --tags-item-line-height: var(--line-height-3);
}

.Small {
  --tags-item-font-size: var(--text-size-3);
  --tags-item-line-height: var(--line-height-3);
}

.Large {
  --tags-item-font-size: var(--text-size-5);
  --tags-item-line-height: var(--line-height-5);
}

.XLarge {
  --tags-item-font-size: var(--text-size-6);
  --tags-item-line-height: var(--line-height-6);
}
