@import 'src/global/mixins';

.Item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border: none;
  min-width: 80px;
  background: transparent;
  cursor: pointer;
  color: var(--bottom-navigation-item-text-color);
  transition: color 0.2s linear;
  text-decoration: none;
  border-radius: 32px;
  padding: 8px;
  background-color: transparent;

  @include no-appearance;
  @include no-selection;
  @include focus;
}

.Icon {
  font-size: var(--bottom-navigation-item-icon-size);
  height: var(--bottom-navigation-item-icon-size);
  z-index: 1;
}

.Label {
  font-size: var(--bottom-navigation-item-text-size);
  font-weight: 500;
  line-height: 16px;
  z-index: 1;
}

.Badge {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--bottom-navigation-badge-background);
  color: var(--bottom-navigation-badge-text-color);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 1;
}

.Selected {
  background-color: var(--bottom-navigation-item-backdrop-color-selected);
  color: var(--bottom-navigation-selected-item-text-color);
}

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bottom-navigation-item-backdrop-color);
  border-radius: 32px;
  z-index: 0;
  box-shadow: var(--shadow-1), var(--shadow-2);
  background-color: var(--glass-background-color);
}
