.Textarea {
  resize: vertical;
  min-height: 72px;
}

.Wrapper {
  min-height: var(--height);
  height: unset;
}

.WithIslands {
  padding-bottom: calc(var(--text-input-action-island-size) + 8px);
}
