.Grid {
  --grid-column-spacing: 0px;
  --grid-row-spacing: 0px;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--grid-column-spacing);
  row-gap: var(--grid-row-spacing);
  width: 100%;
}

.NoWrap {
  flex-wrap: nowrap;
}
