.Grid {
  --column-spacing: 0px;
  --row-spacing: 0px;

  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-spacing);
  row-gap: var(--row-spacing);
  width: 100%;
}

.NoWrap {
  flex-wrap: nowrap;
}
