@import 'src/global/mixins';

:global(:root) {
  --datePickerDayBackgroundColor: transparent;
  --datePickerDayTextColor: var(--default-900);
  --datePickerDayWeekendTextColor: var(--default-700);
  --datePickerDayTodayTextColor: var(--primary-500);
  --datePickerDayHoveredBackgroundColor: var(--default-100);
  --datePickerDayHoveredTextColor: var(--primary-600);
  --datePickerDaySelectedBackgroundColor: var(--primary-500);
  --datePickerDaySelectedHoveredBackgroundColor: var(--primary-600);
  --datePickerDaySelectedTextColor: var(--default-50);
}

.Day {
  --bgColor: var(--datePickerDayBackgroundColor);
  --fgColor: var(--datePickerDayTextColor);

  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: var(--bgColor);
  width: 20px;
  height: 20px;
  color: var(--fgColor);
  @include label;
  cursor: pointer;
  border-radius: 4px;

  &:hover, &:focus-visible {
    --bgColor: var(--datePickerDayHoveredBackgroundColor);
    --fgColor: var(--datePickerDayHoveredTextColor);
  }
}

.Weekend {
  --fgColor: var(--datePickerDayWeekendTextColor);
}

.AnotherMonth {
  opacity: 0.25;
  pointer-events: none;
}

.Today {
  --fgColor: var(--datePickerDayTodayTextColor);
}

.Selected {
  --bgColor: var(--datePickerDaySelectedBackgroundColor);
  --fgColor: var(--datePickerDaySelectedTextColor);

  &:hover, &:focus-visible {
    --bgColor: var(--datePickerDaySelectedHoveredBackgroundColor);
    --fgColor: var(--datePickerDaySelectedTextColor);
  }
}