@import 'src/global/mixins';

:global(:root) {
  --datePickerWeekdayName: var(--default-500);
}

.DayPicker {
  column-gap: var(--gap);
  row-gap: var(--s-gap);
  @include no-selection;
}

.DayNames {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.DayName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: var(--datePickerWeekdayName);

  @include label;
}