@import 'src/global/mixins';

.Header {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--gap);
  justify-content: space-between;
  height: 32px;
  width: 100%;

  @include group-heading;
}

.CurrentDate {
  display: flex;
  align-items: center;
  color: var(--date-picker-header-text-color);
  font-size: var(--date-picker-header-text-size);
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: var(--date-picker-header-hover-text-color);
  }
}
