@import 'src/global/mixins';
@import 'mixins';

.MonthCalendar {
  display: grid;
  width: 188px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 24px);
  grid-gap: var(--s-gap);
}

.Month {
  @include picker-item;
}

.Selected {
  @include selected-picker-item;
}