@import 'src/global/mixins';
@import 'mixins';

.YearPicker {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 32px);
  outline: 0;
}

.Year {
  width: auto;
}
