:global([data-altrone-root='true']) {
  --tabs-background-color: var(--background-a2);
  --tabs-border-color: var(--border-a1);
  --tabs-item-background-color: transparent;
  --tabs-item-hover-background-color: var(--interactive-a2);
  --tabs-item-active-background-color: var(--glass-background-color);
  --tabs-item-border-color: var(--border-a2);
  --tabs-item-text-color: var(--text-2);

  --tabs-item-badge-text-size: 10px;
  --tabs-item-badge-size: 16px;
  --tabs-item-badge-padding: 4px;

  --tabs-item-size: 24px;
  --tabs-item-icon-size: 16px;
  --tabs-item-font-size: 14px;
  --tabs-item-rounding: 12px;
}

.TabsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Tabs {
  display: inline-flex;
  position: relative;
  height: 32px;
  border-radius: 16px;
  background-color: var(--tabs-background-color);
  box-shadow: 0 0 0 1px var(--tabs-border-color);
  padding: 4px;
  gap: var(--s-gap);
}
