@import '../../../_mixins';

.alt-navigation-list {
  display: flex;
  height: 100%;
  max-height: 100%;
  padding: 60px 16px 36px;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
  box-shadow: 3px 0 15px 0 var(--shadow);

  @include useGlassSurface();
}

.alt-navigation-list__title {
  margin-bottom: 16px;

  @include useFontSize(headline, Large);
  font-weight: 800;
}

.alt-navigation-list__navigation {
  display: flex;
  flex-direction: column;
  gap: 4px;
}