@import '../../../_mixins';

.alt-navigation-list-item {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0 -8px;
  padding: 8px;
  border-radius: var(--controlRounding);
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--textColor);
  transition: background-color var(--transitionDuration) ease, box-shadow var(--transitionDuration) ease;

  @include useFontSize(body);
  font-weight: 500;

  @include useFocus();

  &:hover {
    background-color: var(--highlight);
  }
}

.alt-navigation-list-item__icon {
  margin-right: 8px;
  font-size: 20px;
  color: var(--accentText);
}

.alt-navigation-list-item__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alt-navigation-list-item__arrowIcon {
  transition: transform var(--transitionDuration) ease;
  transform-origin: center;
  margin-left: auto;
  color: var(--secondaryTextColor);
}

.alt-navigation-list-item--selected {
  background-color: var(--background);
  color: var(--textColor);
  box-shadow: 0 3px 15px 0 var(--shadow);

  .alt-navigation-list-item__arrowIcon {
    margin-left: auto;
    color: var(--secondaryTextColor);
  }

  &:hover {
    background-color: var(--background);
  }
}

.alt-navigation-list-item--expanded {
  background-color: var(--surfaceTrasparentHover);

  .alt-navigation-list-item__arrowIcon {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: var(--surfaceTrasparentHover);
  }
}

.alt-navigation-list-item__indicator {
  margin-left: auto;
  padding: 2px 6px;
  border-radius: var(--innerRounding);
  background-color: var(--surfaceTrasparentHover);

  @include useFontSize(label, Small);
  font-weight: 600;

  &:empty {
    width: 8px;
    height: 8px;
    max-width: 8px;
    border-radius: var(--circleRounding);
    padding: 0;
    background-color: var(--danger);
  }
}

.alt-navigation-list-item__indicator + .alt-navigation-list-item__arrowIcon {
  margin-left: 8px;
}

.alt-navigation-list-item__indicator--position-corner {
  position: absolute;
  right: 4px;
  top: 4px;
}

.alt-navigation-list-item__indicator--position-corner + .alt-navigation-list-item__arrowIcon {
  margin-left: auto;
}

.alt-navigation-list-item__indicator--position-corner:not(:empty) + .alt-navigation-list-item__arrowIcon {
  display: none;
}

.alt-navigation-list-item--compact {
  position: relative;
  width: 38px;
  height: 38px;

  .alt-navigation-list-item__compact-hint {
    display: none;
  }

  &:hover, &:focus {
    .alt-navigation-list-item__compact-hint {
      display: flex;
    }
  }

  &:focus {
    .alt-navigation-list-item__compact-hint {
      box-shadow: 0 0 0 3px var(--accentFocus), 0 8px 30px 0 var(--shadow);
    }
  }
}

.alt-navigation-list-item__compact-hint {
  display: flex;
  position: absolute;
  align-items: center;
  left: 0;
  top: 0;
  padding: 8px;
  border-radius: var(--controlRounding);
  border: none;
  cursor: pointer;
  color: var(--textColor);
  background-color: var(--background);
  box-shadow: 0 8px 30px 0 var(--shadow);

  @include useFontSize(body);
  font-weight: 500;

  @include useFocus();
}

@include useElevation('alt-navigation-list-item', false, true);