@import '../../../_mixins';

.alt-navigation-list-sub-item {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 8px 30px 8px 12px;
  border-radius: var(--controlRounding);
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--secondaryTextColor);
  transition: background-color var(--transitionDuration) ease, box-shadow var(--transitionDuration) ease;

  @include useFontSize(title, Small);
  @include useFocus();
  font-weight: 500;

  .alt-navigation-list-sub-item__indicator:not(.alt-navigation-list-sub-item__indicator--position-corner):last-child {
    margin-right: -18px;
  }

  &:hover {
    background-color: var(--surfaceTrasparent);
  }
}

.alt-navigation-list-sub-item__icon {
  margin-right: 8px;
  font-size: 20px;
}

.alt-navigation-list-sub-item__label {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alt-navigation-list-sub-item__arrowIcon {
  transition: transform var(--transitionDuration) ease;
  transform-origin: center;
  margin-left: auto;
  color: var(--secondaryTextColor);
}

.alt-navigation-list-sub-item--selected {
  background-color: var(--background);
  color: var(--textColor);
  box-shadow: 0 3px 15px 0 var(--shadow);

  .alt-navigation-list-sub-item__arrowIcon {
    margin-left: auto;
    color: var(--secondaryTextColor);
  }

  &:hover {
    background-color: var(--background);
  }
}

.alt-navigation-list-sub-item--expanded {
  background-color: var(--surfaceTrasparentHover);

  .alt-navigation-list-sub-item__arrowIcon {
    transform: rotate(90deg);
  }

  &:hover {
    background-color: var(--surfaceTrasparentHover);
  }
}

.alt-navigation-list-sub-item__indicator {
  margin-left: auto;
  padding: 2px 6px;
  border-radius: var(--innerRounding);
  background-color: var(--surfaceTrasparentHover);

  @include useFontSize(label, Small);
  font-weight: 600;

  &:empty {
    width: 8px;
    height: 8px;
    max-width: 8px;
    border-radius: var(--circleRounding);
    padding: 0;
    background-color: var(--danger);
  }
}

.alt-navigation-list-sub-item__indicator + .alt-navigation-list-sub-item__arrowIcon {
  margin-left: 8px;
}

.alt-navigation-list-sub-item__indicator--position-corner {
  position: absolute;
  right: 4px;
  top: 4px;
}

.alt-navigation-list-sub-item__indicator--position-corner + .alt-navigation-list-sub-item__arrowIcon {
  margin-left: auto;
}

.alt-navigation-list-sub-item__indicator--position-corner:not(:empty) + .alt-navigation-list-sub-item__arrowIcon {
  display: none;
}