@import '../../../_mixins';

.alt-navigation-list {
  display: flex;
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 60px 16px 36px;
  flex-direction: column;
  scrollbar-gutter: stable;
  box-shadow: 3px 0 15px 0 var(--shadow);
  border-right: 1px solid var(--borderColor);

  @include useGlassSurface();

  .alt-navigation-list {
    padding-right: 0;
  }
}

.alt-navigation-list__title {
  margin-bottom: 16px;

  @include useFontSize(headline, Large);
  font-weight: 800;
}

.alt-navigation-list__navigation {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .alt-navigation-list__navigation {
    padding-left: 12px;
  }
}

.alt-navigation-list__action {
  position: absolute !important;
  top: 18px;
  right: 0;
}

.alt-navigation-list__compactModeSwitcher {
  position: absolute !important;
  top: 18px;
  left: 0;
}

.alt-navigation-list__separator {
  width: 100%;
  height: 1px;
  margin: 16px 0;
  background-color: var(--dividerColor);
}

.alt-navigation-list--surface-none {
  background-color: transparent;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  border-right: none;
}

.alt-navigation-list--surface-transparent {
  background-color: var(--surfaceTrasparent);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  border-right: none;
}

.alt-navigation-list--surface-solid {
  background-color: var(--surface);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-navigation-list--surface-paper {
  background-color: var(--background);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-navigation-list--surface-metal {
  background: linear-gradient(to left, var(--metalTop) 0%, var(--metalBottom) 100%);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-navigation-list--compact {
  max-width: 54px;
  padding-top: 18px;

  .alt-navigation-list__compactModeSwitcher {
    position: static !important;
    padding: 0;
    margin-left: -5px;
    top: unset;
  }

  .alt-navigation-list__action {
    position: static !important;
    padding: 0;
    margin-left: -5px;
    top: unset;
  }

  .alt-navigation-list__title {
    display: none;
  }

  .alt-navigation-list__navigation {
    margin-top: 24px;
  }
}