@import '../../../_mixins';

.alt-text-input {
  --height: var(--controlHeight);
  --fontSize: var(--controlFontSize);

  display: flex;
  position: relative;
  flex-direction: column;
  font-size: var(--fontSize);
}

.alt-text-input__control {
  height: var(--height);
  margin: 0;
  padding: 6px 12px;
  background-color: var(--surface);
  font-size: var(--fontSize);
  line-height: var(--height);
  color: var(--textColor);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--surfaceTrasparent);
  transition: box-shadow var(--transitionDuration) ease, opacity var(--transitionDuration) ease;

  @include useFocus();

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    display: none;
  }
}

.alt-text-input__left-island {
  display: flex;
  position: absolute;
  padding-left: 8px;
  height: var(--height);
  line-height: var(--height);
  align-items: center;
  pointer-events: none;

  @include useDisabledUserSelect();
}

.alt-text-input__right-island {
  display: flex;
  position: absolute;
  right: 0;
  height: var(--height);
  padding-right: 8px;
  line-height: var(--height);
  align-items: center;
  user-select: none;
  pointer-events: none;
  transition: padding-right var(--transitionDuration) ease;

  @include useDisabledUserSelect();
}

.alt-text-input__text-island {
  display: flex;
  pointer-events: none;
  font-size: 1em;
  color: var(--secondaryTextColor);
}

.alt-text-input__icon-island {
  pointer-events: none;
  display: flex;
  font-size: 1.375em;
  color: var(--secondaryTextColor);
}

.alt-text-input__components-island {
  display: flex;
  align-items: center;
  font-size: 1em;
  pointer-events: initial;
}

.alt-text-input__actions-island {
  display: flex;
  align-items: center;
  pointer-events: initial;
  margin-left: -4px;
  margin-right: -4px;
}

.alt-text-input__action-button {
  display: flex;
  padding: 4px calc(var(--fontSize) / 3);
  height: calc(var(--height) - 8px);
  max-height: calc(var(--height) / 1.5);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: var(--surfaceTrasparent);
  color: var(--textColor);
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  border-radius: 8px;
  pointer-events: auto;
  cursor: pointer;
  transition: background-color var(--transitionDuration) ease;

  @include useFocus();

  & + & {
    margin-left: 1px;
  }

  @include useInteraction() {
    background-color: var(--surfaceTrasparentHover);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.75;
  }
}

.alt-text-input__hint-text, .alt-text-input__error-text {
  @include useFontSize(label, Small);
  margin-top: 4px;
}

.alt-text-input__hint-text {
  color: var(--secondaryTextColor);
}

.alt-text-input__error-text {
  color: var(--danger);

  & + .alt-text-input__hint-text {
    margin-top: 0;
  }
}

.alt-text-input__required-mark {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: 16px;
  color: var(--danger);
}

.alt-text-input--invalid {
  .alt-text-input__control {
    box-shadow: 0 0 0 1px var(--danger);

    &:focus, &:focus-visible {
      box-shadow: 0 0 0 2px var(--danger);
    }
  }
}

.alt-text-input--required {
  .alt-text-input__right-island {
    padding-right: 18px;
  }
}

.alt-text-input--disabled {
  .alt-text-input__control {
    opacity: 0.5;
  }

  .alt-text-input__left-island, .alt-text-input__right-island {
    pointer-events: none;
  }
}

.alt-text-input--size-small {
  --height: var(--smallControlHeight);
  --fontSize: var(--controlFontSizeSmall);
}

.alt-text-input--size-large {
  --height: var(--largeControlHeight);
  --fontSize: 16px;
}

.alt-text-input--size-xlarge {
  --height: var(--xlargeControlHeight);
  --fontSize: 20px;
}