@mixin screen-name {
  font-size: var(--screenFontSize);
  line-height: var(--screenLineHeight);
  font-weight: var(--screenFontWeight);
}

@mixin title {
  font-size: var(--titleFontSize);
  line-height: var(--titleLineHeight);
  font-weight: var(--titleFontWeight);
}

@mixin heading {
  font-size: var(--headingFontSize);
  line-height: var(--headingLineHeight);
  font-weight: var(--headingFontWeight);
}

@mixin subheader {
  font-size: var(--subheaderFontSize);
  line-height: var(--subheaderLineHeight);
  font-weight: var(--subheaderFontWeight);
}

@mixin inner-header {
  font-size: var(--innerHeaderFontSize);
  line-height: var(--innerHeaderLineHeight);
  font-weight: var(--innerHeaderFontWeight);
}

@mixin big-paragraph {
  font-size: var(--bigParagraphFontSize);
  line-height: var(--bigParagraphLineHeight);
  font-weight: var(--bigParagraphFontWeight);
}

@mixin paragraph {
  font-size: var(--paragraphFontSize);
  line-height: var(--paragraphLineHeight);
  font-weight: var(--paragraphFontWeight);
}

@mixin sm-paragraph {
  font-size: var(--smallParagraphFontSize);
  line-height: var(--smallParagraphLineHeight);
  font-weight: var(--smallParagraphFontWeight);
}

@mixin code {
  font-size: var(--codeFontSize);
  line-height: var(--codeLineHeight);
  font-weight: var(--codeFontWeight);
}

@mixin group-heading {
  font-size: var(--groupHeadingFontSize);
  line-height: var(--groupHeadingLineHeight);
  font-weight: var(--groupHeadingFontWeight);
}

@mixin label-heading {
  font-size: var(--labelHeadingFontSize);
  line-height: var(--labelHeadingLineHeight);
  font-weight: var(--labelHeadingFontWeight);
}

@mixin label {
  font-size: var(--labelFontSize);
  line-height: var(--labelLineHeight);
  font-weight: var(--labelFontWeight);
}

@mixin small-label {
  font-size: var(--smallLabelFontSize);
  line-height: var(--smallLabelLineHeight);
  font-weight: var(--smallLabelFontWeight);
}

@mixin scrollbars {
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    height: 5px;
    background-color: var(--scrollbarBackground); /* or add it to the track */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: 5px;
  }
}