.alt-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.alt-calendar-date {
  border: none;
  padding: 4px 8px;
  text-align: left;
  height: 34px;
  color: var(--textColor);
  opacity: 0.5;
  border-radius: var(--controlRounding);
  background-color: transparent;
}

.alt-calendar-date--active-month {
  background-color: var(--surface);
  opacity: 1;
}

.alt-calendar-date--today {
  color: var(--accentText);
}

.alt-calendar-date--disabled {
  pointer-events: none;
}

.alt-calendar-date--selected {
  background-color: var(--highlight);
  color: var(--accentText);
}