.DataGrid {
  display: flex;
  flex-direction: column;
  gap: var(--space-stack);
  font-family: var(--font-family);
}

.Toolbar {
  display: flex;
  height: 32px;
  justify-content: flex-end;
}

.Fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-stack);
}
