@import 'src/global/mixins';

.Code {
  border: 1px solid var(--codeBorderColor);
  color: var(--codeTextColor);
  background: var(--codeBackgroundColor);
  padding: 0 var(--xs-gap);
  border-radius: 4px;
  font-family: "JetBrains Mono Variable", monospace;

  @include code;
  font-size: 1em;
}

.Bold {
  font-weight: 600;
}

.Italic {
  font-style: italic;
}