@import 'src/global/mixins';

.Link {
  color: var(--linkTextColor);
  text-decoration: underline;

  &:hover {
    color: var(--linkHoveredTextColor);
  }

  &:active {
    color: var(--linkPressedTextColor);
  }
}

.Bold {
  font-weight: 700;
}

.Italic {
  font-style: italic;
}