@import "src/global/mixins";

.List {
  color: var(--bodyTextColor);
  margin: var(--xl-gap) 0;
  padding-left: 0;

  @include paragraph;
}

.List_small {
  @include sm-paragraph;
}

.List_large {
  @include big-paragraph;
}

.ListItem {
  margin: var(--l-gap) 0;

  &::marker {
    color: var(--disabledTextColor);
  }
}