@import 'src/global/mixins';

.Spinner {
  display: flex;
  flex-direction: column;
  margin-right: -6px;
  @include no-selection;
}

.SpinButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 24px;
  height: 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  color: var(--default-700);
  background: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s linear;

  &:hover, &:focus-visible {
    background-color: var(--default-300);
    color: var(--default-800);
  }

  &:active {
    background-color: var(--default-400);
    color: var(--default-900);
  }

  &:disabled {
    @include disabled;
  }
}

.Small {
  .SpinButton {
    width: 20px;
    height: 10px;
    font-size: 12px;
  }
}

.Large {
  .SpinButton {
    width: 32px;
    height: 16px;
    font-size: 18px;
  }
}