.ToolbarWrapper {
  pointer-events: none;
  padding: 0;
}

.Toolbar {
  display: flex;
  position: relative;
  align-items: center;
  height: 56px;
}

.Absolute {
  position: absolute;
}

.Backdrop {
  background: linear-gradient(to bottom, var(--gray-a8) 0%, transparent 100%);
}

.Top {
  width: 100%;

  &.Absolute {
    top: 0;
    left: 0;
  }
}

.Bottom {
  width: 100%;

  &.Absolute {
    bottom: 0;
    left: 0;
  }

  &.Backdrop {
    background: linear-gradient(to top, var(--gray-a8) 0%, transparent 100%);
  }
}

.Left {
  height: 100%;
  width: 72px;

  &.Absolute {
    top: 0;
    left: 0;
  }

  &.Backdrop {
    background: linear-gradient(to right, var(--gray-a8) 0%, transparent 100%);
  }
}

.Right {
  height: 100%;
  width: 72px;

  &.Absolute {
    top: 0;
    right: 0;
  }

  &.Backdrop {
    background: linear-gradient(to left, var(--gray-a8) 0%, transparent 100%);
  }
}

.Left,
.Right {
  padding: 8px;

  .Toolbar {
    height: 100%;
    width: 56px;
  }
}
