@import 'src/global/mixins';

.Toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Vertical {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.AlignCenter {
  justify-content: center;
}

.AlignEnd {
  justify-content: end;
}

.AlignBetween {
  justify-content: space-between;
}

.Compact {
  padding: 4px;
  height: 32px;
}
