@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --empty-text-color: var(--text-1);
  --empty-icon-color: var(--disabled-text-color);
  --empty-icon-size: 32px;
}

.Empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  color: var(--empty-text-color);
}

.Icon {
  font-size: var(--empty-icon-size);
  color: var(--empty-icon-color);
}

.Label {
  text-align: center;
  max-width: 40%;
  min-width: 200px;
  color: var(--empty-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.Transparent {
  .Empty {
    background: none;
    border: none;
  }
}
