@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --progress-background-color: var(--interactive-1);
  --progress-active-background-color: var(--accent-4);
  --progress-text-color: var(--accent-12);
}

.Progress {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  border-radius: 16px;
  height: 32px;
  background-color: var(--progress-background-color);
  overflow: hidden;
  padding: 4px 8px;

  @include no-selection;
}

.Active {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--progress-active-background-color);
}

.Label {
  z-index: 1;
  color: var(--progress-text-color);
  font-size: 14px;
  font-weight: 500;
}

.Small {
  height: 24px;

  .Label {
    @include small-label;
  }
}

.Large {
  height: 40px;

  .Label {
    @include label-heading;
  }
}
