@import '../../../_mixins';

.alt-context-menu-list {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 300px;
  padding: 0;
  overflow-y: auto;
  gap: 2px;
}

.alt-context-menu-item {
  display: flex;
  align-items: center;
  @include useFontSize(label, Large);
  border-radius: var(--controlRounding);
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 8px 5px 6px;
  color: var(--textColor);
  margin: 0;
  @include useDisabledUserSelect();

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include useInteraction {
    background-color: var(--accent);
    color: var(--textColorOnAccent);

    .alt-context-menu-item__hint {
      color: var(--textColorOnAccent);
    }
  }

  &.alt-context-menu-item--selected {
    background-color: var(--accent);
    color: var(--textColorOnAccent);

    .alt-context-menu-item__hint {
      color: var(--textColorOnAccent);
    }
  }

  @include useFocus();

  @include less($l-phone) {
    padding: 12px;
  }
}

.alt-context-menu-item__icon {
  display: inline-flex;
  align-items: center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-right: 6px;
}

.alt-context-menu-item__title {
  text-align: left;
  flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.alt-context-menu-item__childrenArrow {
  display: inline-flex;
  font-size: 1.5em;
  margin-right: -8px;
  justify-content: flex-end;
}

.alt-context-menu-item__hint {
  color: var(--secondaryTextColor);
  margin-left: 10px;

  @include less($l-phone) {
    display: none;
  }
}

.alt-context-menu-item--danger {
  color: var(--danger);

  &:hover, &:focus {
    background-color: var(--danger);
    color: var(--textColorOnDanger);
  }
}

.alt-context-menu-item--parent-selected {
  background-color: var(--surfaceTrasparent);

  &:hover, &:focus {
    background-color: var(--surfaceTrasparent);
    color: var(--textColor);
  }
}

.alt-context-menu-list--fluid {
  max-width: unset;
  width: 100%;
}

.alt-context-menu-item__check-icon {
  width: 18px !important;
  height: 10px !important;
}

.alt-context-menu__separator {
  width: calc(100% - 16px);
  margin: 8px;
  border: none;
  border-top: 1px solid var(--dividerColor);
}

.alt-context-menu__groupName {
  @include useFontSize(label);
  margin: 4px 8px 8px;
  color: var(--secondaryTextColor);
}