@import 'src/global/inputMixins';

:global([data-altrone-root='true']) {
  --selectBackgroundColor: var(--interactive-1);
  --selectHoverBackgroundColor: var(--interactive-2);
  --selectTextColor: var(--text-1);
  --selectHoverTextColor: var(--text-2);
  --selectPlaceholderTextColor: var(--text-1);
  --selectPlaceholderHoverTextColor: var(--text-2);
  --selectInvalidTextColor: var(--danger-text-1);
  --selectIslandTextSize: 14px;
  --selectIslandHeight: 20px;
  --selectHorizontalOffset: var(--s-gap);
  --selectVerticalOffset: var(--narrow-gap);
}

.SelectWrapper {
  width: 100%;
}

.Select {
  text-align: left;
  cursor: pointer;
}

.ArrowIcon {
  @include inputIsland;
}

.FormInputs {
  display: none;
}