@import '../../../_mixins';

.alt-data-table-filtering {
  display: flex;
  flex-direction: column;
}

.alt-data-table-filtering__title {
  @include useFontSize(label, Large);
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
}

.alt-data-table-filtering__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}