@import "../../../_mixins";

.alt-number-input-counter {
  --smoothness: 4px;

  display: flex;
  flex-direction: column;
  margin-right: -3px;
}

.alt-number-input-counter__increase, .alt-number-input-counter__decrease {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--surfaceTrasparent);
  border: none;
  font-size: 16px;
  line-height: 15px;
  height: 15px;
  margin: 0;
  transition: background-color var(--transitionDuration) ease,
    opacity var(--transitionDuration) ease;
  cursor: pointer;
  width: 16px;
  color: var(--textColor);

  @include useFocus();
  @include useInteraction() {
    background-color: var(--surfaceTrasparentHover);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.alt-number-input-counter__increase {
  border-top-left-radius: var(--smoothness);
  border-top-right-radius: var(--smoothness);
  border-bottom: 1px solid var(--borderColor);
}

.alt-number-input-counter__decrease {
  border-bottom-left-radius: var(--smoothness);
  border-bottom-right-radius: var(--smoothness);
}