@import 'src/global/mixins';

:global(:root) {
  --dataTableRowBackgroundColor: var(--default-50);
  --dataTableHoveredRowBackgroundColor: var(--default-100);
  --dataTableCellTextColor: var(--default-700);
  --dataTableCellBorderColor: var(--default-300);
  --dataTableSelectedRowBackgroundColor: var(--primary-50);
  --dataTableSelectedHoveredRowBackgroundColor: var(--primary-100);
  --dataTableSelectedRowBorderColor: var(--primary-200);
  --dataTableSelectedRowTextColor: var(--primary-700);
}

:global(.AltroneDark) {
  --dataTableRowBackgroundColor: var(--default-900);
  --dataTableHoveredRowBackgroundColor: var(--default-800);
  --dataTableCellTextColor: var(--default-200);
  --dataTableCellBorderColor: var(--default-600);
  --dataTableSelectedRowBackgroundColor: var(--primary-900);
  --dataTableSelectedHoveredRowBackgroundColor: var(--primary-800);
  --dataTableSelectedRowBorderColor: var(--primary-600);
  --dataTableSelectedRowTextColor: var(--primary-100);
}

.Row {
  align-items: center;
  border-bottom: 1px solid var(--dataTableCellBorderColor);
  background-color: var(--dataTableRowBackgroundColor);
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--dataTableHoveredRowBackgroundColor);
  }
}

.Cell {
  //display: flex;
  //align-items: center;
  flex: 1;
  padding: 10px 12px;
  height: 100%;
  border: none;
  border-right: 1px solid var(--dataTableCellBorderColor);

  &:last-child {
    border-right: none;
  }

  @include paragraph;
  color: var(--dataTableCellTextColor);
}

.CheckboxCell {
  padding: 10px 7px;
}

.Row:not(.Selected):has(+ .Selected) {
  border-color: var(--dataTableSelectedRowBorderColor);
}

.Selected {
  background-color: var(--dataTableSelectedRowBackgroundColor);
  border-color: var(--dataTableSelectedRowBorderColor);

  &:hover {
    background-color: var(--dataTableSelectedHoveredRowBackgroundColor);
  }

  .Cell {
    color: var(--dataTableSelectedRowTextColor);
    border-color: var(--dataTableSelectedRowBorderColor);
  }
}

.CellWithWidth {
  word-break: break-all;
}