@import 'src/global/mixins';

.TableBody {
}

.Row {
  display: grid;
  align-items: center;
  border-bottom: 1px solid var(--data-table-border-color);
  background-color: var(--dataTableRowBackgroundColor);
  transition: background-color 0.2s ease-in-out;
  padding: 0 var(--data-table-padding);

  &:last-of-type {
    .Cell {
      &:first-child {
        border-bottom-left-radius: var(--data-table-rounding);
      }

      &:last-child {
        border-bottom-right-radius: var(--data-table-rounding);
      }
    }
  }

  &:hover {
    background-color: var(--dataTableHoveredRowBackgroundColor);
  }

  &:nth-child(even) {
    background-color: var(--data-table-even-background-color);
  }

  &[data-selected='true'] {
    background-color: var(--data-table-selected-background-color);
    border-color: var(--data-table-selected-border-color);
    color: var(--data-table-selected-text-color);
  }
}

.Cell {
  flex: 1;
  padding: 8px 12px;
  height: 100%;
  border: none;
  color: var(--data-table-text-color);
}

.CheckboxCell {
  padding: 0;
}

.Row:not(.Selected):has(+ .Selected) {
  border-color: var(--dataTableSelectedRowBorderColor);
}

.Selected {
  background-color: var(--dataTableSelectedRowBackgroundColor);
  border-color: var(--dataTableSelectedRowBorderColor);

  &:hover {
    background-color: var(--dataTableSelectedHoveredRowBackgroundColor);
  }

  .Cell {
    color: var(--dataTableSelectedRowTextColor);
    border-color: var(--dataTableSelectedRowBorderColor);
  }
}

.CellWithWidth {
  word-break: break-all;
}
