@import 'src/global/mixins';

.Wrapper {
  --data-table-header-rounding: var(--data-table-rounding);
}

.HeaderRow {
  display: grid;
  position: sticky;
  top: 0;
  z-index: var(--level-sticky);
  transition: border-radius 0.2s linear;
  padding: var(--data-table-padding);
}

.Cell {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--data-table-header-text-color);
  padding: 8px;
}

.Label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Backdrop {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 32px;
  background-color: var(--data-table-header-background-color);
  backdrop-filter: blur(32px) saturate(180%);
  box-shadow: var(--shadow-1);
}

.SortIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  height: 14px;
}

.Sortable {
  cursor: pointer;
}
