@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --dataTableFilteringEmptyTextColor: var(--text-1);
}

.FilterRow {
  display: grid;
  grid-template-columns: 165px 135px minmax(0, 1fr) 32px;
  align-items: center;
  gap: var(--s-gap);
}

.ControlCell {
  min-width: 0;
}

.ControlPair {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--s-gap);
}

.NoFilters {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--l-gap);
}

.NoFiltersIcon {
  font-size: 32px;
  color: var(--dataTableFilteringEmptyTextColor);
}

.NoFiltersDescription {
  @include sm-paragraph;
  width: 200px;
  text-align: center;
  color: var(--dataTableFilteringEmptyTextColor);
}
