@import 'src/global/mixins';

.Footer {
  display: flex;
  position: sticky;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  gap: var(--xl-gap);
  color: var(--data-table-header-text-color);
  padding: 12px;
}

.StatusBar {
  position: sticky;
  left: 8px;
  margin-left: 4px;
}

.Pagination {
  position: sticky;
  right: 8px;
}

.Backdrop {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  border-radius: 32px;
  background-color: var(--data-table-header-background-color);
  backdrop-filter: blur(32px) saturate(180%);
  box-shadow: var(--shadow-1);
  z-index: -1;
}
