@import 'src/global/mixins';

.Footer {
  display: flex;
  position: sticky;
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  gap: var(--xl-gap);
  color: var(--data-table-header-text-color);
  padding: 12px;
  color: black;
}

.StatusBar {
  @include sm-paragraph;
  color: var(--dataTableFooterTextColor);
  margin-left: 4px;
}

.Backdrop {
  position: absolute;
  background-color: var(--data-table-header-background-color);
  backdrop-filter: blur(32px) saturate(180%);
  box-shadow: var(--shadow-1);
  z-index: -1;
}
