:global(:root) {
  --dataTableHeaderBackgroundColor: var(--default-100);
}

:global(.AltroneDark) {
  --dataTableHeaderBackgroundColor: var(--default-800);
}

.Header {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 4px 6px;
  background-color: var(--dataTableHeaderBackgroundColor);
  gap: var(--xl-gap);
}

.Actions {
  display: flex;
  align-items: center;
  gap: var(--s-gap);
}

.Separator {
  flex: 1;
}

.Search {
  width: 240px;
}