:global([data-altrone-root='true']) {
  --calendarDateBackgroundColor: transparent;
  --calendarDateTextColor: var(--text-2);
  --calendarDateTodayTextColor: var(--accent-9);
  --calendarDateSelectedDateBackgroundColor: var(--accent-3);
  --calendarDateSelectedDateTextColor: var(--accent-11);
  --calendar-gap: 4px;
  --calendar-date-height: 34px;
  --calendar-date-padding: 4px 8px;
}

.Calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--calendar-gap);
}

.Date {
  border: none;
  padding: var(--calendar-date-padding);
  text-align: left;
  height: var(--calendar-date-height);
  color: var(--calendarDateTextColor);
  opacity: 0.5;
  border-radius: var(--controlRounding);
  background-color: var(--calendarDateBackgroundColor);
}

.ActiveMonth {
  background-color: var(--surface);
  opacity: 1;
}

.Today {
  color: var(--calendarDateTodayTextColor);
}

.Disabled {
  pointer-events: none;
}

.Selected {
  background-color: var(--calendarDateSelectedDateBackgroundColor);
  color: var(--calendarDateSelectedDateTextColor);
}
