@import '../../../global/mixins';

.String {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.Text {
  display: block;
}

.Number {
  display: block;
}

.Currency {
  display: block;
  text-align: right;
}
