@import '../../../_mixins';

.alt-form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.alt-form-field__label {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  @include useFontSize(label, Large);
  font-weight: 600;
}

.alt-form-field__required-mark {
  color: var(--importantText);
}

.alt-form-field__control {
  width: 100%;

  > *:not(.alt-floating-box) {
    width: 100%;
  }
}

.alt-form-group--variant-row {
  .alt-form-field {
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .alt-form-field__label {
    color: var(--secondaryTextColor);
    max-width: 40%;
    width: 100%;
    font-weight: 500;
  }

  .alt-form-field__control {
    max-width: 60%;
    width: 100%;
  }
}

.alt-form-field__hint {
  display: flex;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  border-radius: var(--circleRounding);
  border: none;
  cursor: pointer;
  background: var(--surface);
  box-shadow: 0 0 0 1px var(--borderColor);
  color: var(--textColor);
}

.alt-form-field__hint-text {
  max-width: 280px;
  word-wrap: break-word;

  @include useFontSize(body, Small);
}