:global([data-altrone-root='true']) {
  --divider-color: var(--border-a1);
}

.Divider {
  width: calc(100% - var(--l-gap));
  height: 1px;
  border-radius: 2px;
  margin: var(--xs-gap) auto;
  background-color: var(--divider-color);
  border: none;
  flex-shrink: 0;
}

.Vertical {
  width: 1px;
  height: auto;
  margin: var(--xs-gap) var(--l-gap);
  align-self: stretch;
}
