:global(:root) {
  --dividerColor: var(--default-300);
}

:global(.AltroneDark) {
  --dividerColor: var(--default-700);
}

.Divider {
  width: calc(100% - var(--l-gap));
  height: 1px;
  margin: var(--xs-gap) auto;
  background-color: var(--dividerColor);
  border: none;
  color: blue;
}