@import 'src/global/mixins';

:global(:root) {
  --inputBackgroundColor: var(--default-200);
  --inputHoverBackgroundColor: var(--default-300);
  --inputTextColor: var(--default-700);
  --inputHoverTextColor: var(--default-800);
  --inputPlaceholderTextColor: var(--default-400);
  --inputPlaceholderHoverTextColor: var(--default-500);
  --inputInvalidTextColor: var(--danger-800);
}

:global(.AltroneDark) {
  --inputBackgroundColor: var(--default-800);
  --inputHoverBackgroundColor: var(--default-700);
  --inputTextColor: var(--default-100);
  --inputHoverTextColor: var(--default-50);
  --inputPlaceholderTextColor: var(--default-500);
  --inputPlaceholderHoverTextColor: var(--default-400);
  --inputInvalidTextColor: var(--danger-600);
}

.Wrapper {
  width: 100%;
}

.Input {
  --bgColor: var(--inputBackgroundColor);
  --fgColor: var(--inputTextColor);
  --placeholderColor: var(--inputPlaceholderTextColor);

  width: 100%;
  background: var(--bgColor);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  border: none;
  padding: var(--narrow-gap) var(--s-gap);
  height: 24px;
  transition: background-color 0.2s linear, color 0.2s linear;
  outline: none;
  color: var(--fgColor);

  @include paragraph;

  &:hover, &:focus-visible {
    --bgColor: var(--inputHoverBackgroundColor);
    --fgColor: var(--inputHoverTextColor);
    --placeholderColor: var(--inputPlaceholderHoverTextColor);
  }

  &::placeholder {
    color: var(--placeholderColor);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:invalid {
    --fgColor: var(--inputInvalidTextColor);
  }
}

.Invalid {
  --fgColor: var(--inputInvalidTextColor) !important;
}

.Readonly {
  --bgColor: transparent !important;
}

.Transparent {
  --bgColor: transparent;
}

.Small {
  @include sm-paragraph;
  height: 20px;
}

.Large {
  @include big-paragraph;
  height: 32px;
}