:global([data-altrone-root='true']) {
  --modal-header-text-color: var(--text-2);
  --modal-padding: var(--space-content);
}

.Body {
  display: flex;
  flex-direction: column;
  padding: var(--modal-padding);
  gap: var(--l-gap);
}

.Close {
  position: absolute;
  top: var(--modal-padding);
  right: var(--modal-padding);
}

.Title {
  width: 100%;
  font-size: var(--text-size-5);
  font-weight: var(--text-weight-bold);
  line-height: var(--line-height-8);
  color: var(--modal-header-text-color);
  text-align: center;
}

.Content {
  font-size: var(--text-size-4);
  line-height: var(--line-height-4);
}

.Footer {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--l-gap);
}

.LeftFooter,
.RightFooter {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.RightFooter {
  margin-left: auto;
  justify-content: flex-end;
}
