:global([data-altrone-root='true']) {
  --toast-background-color: white;
  --toast-text-color: var(--text-2);
}

.Toast {
  display: inline-flex;
  align-items: center;
  background: var(--toast-background-color);
  padding: 4px;
  backdrop-filter: var(--glass-effects);
  border-radius: var(--toast-border-radius);
  color: var(--toast-text-color);
  font-size: var(--text-size-3);
  line-height: var(--text-line-height-3);
  box-shadow: var(--elevation-toast-shadow);
  gap: 4px;
  cursor: default;
  max-width: 420px;
  pointer-events: all;
}

// ─── Icon ─────────────────────────────────────────────────────────────────────

.Icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  font-size: 16px;
  background-color: var(--interactive-a1);
  border-radius: 50%;
  padding: 4px;

  &.Icon_default {
    color: var(--toast-default-icon-color);
  }
  &.Icon_success {
    color: var(--toast-success-icon-color);
  }
  &.Icon_warning {
    color: var(--toast-warning-icon-color);
  }
  &.Icon_danger {
    color: var(--toast-danger-icon-color);
  }
}

// ─── Message ──────────────────────────────────────────────────────────────────

.Message {
  flex: 1;
  font-weight: var(--text-weight-medium);
  font-size: var(--text-size-3);
  line-height: var(--line-height-3);
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 8px;
}

// ─── Close button ─────────────────────────────────────────────────────────────

.Close {
  flex-shrink: 0;
  margin-left: 100px;
}

// ─── Variant accent border ────────────────────────────────────────────────────

.Variant_success {
}
.Variant_warning {
}
.Variant_danger {
}
