.Group {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--xs-gap);
}

.Center {
  justify-content: center;
}

.End {
  justify-content: flex-end;
}

.Between {
  justify-content: space-between;
}