.Title {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-3);
  color: var(--text-12);
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  padding: 0 8px;
}

.ToggleButton {
  pointer-events: none;
}
