:global([data-altrone-root='true']) {
  --photo-viewer-loading-color: var(--text-2);
  --photo-viewer-error-color: var(--danger-color);
}

.ImageBlock {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  max-width: 90vw;
  max-height: calc(90vh - 32px);
  width: 100%;
  height: 100%;
  left: 5vw;
  top: 5vh;
  z-index: var(--level-modal);
}

.Image {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: var(--shadow-5);
}

.LoadingBlock {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: var(--glass-background-color);
  border: 1px solid var(--border-a1);
  backdrop-filter: blur(32px) saturate(180%);
  color: var(--photo-viewer-loading-color);
  box-shadow: var(--shadow-2), var(--shadow-3);
}

.ErrorBlock {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: var(--glass-background-color);
  border: 1px solid var(--border-a1);
  backdrop-filter: blur(32px) saturate(180%);
  color: var(--photo-viewer-error-color);
  box-shadow: var(--shadow-2), var(--shadow-3);
  font-size: 42px;
}
