@import 'src/global/mixins';

.Item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--tabs-item-size);
  padding: 4px 8px;
  background-color: var(--tabs-item-background-color);
  color: var(--tabs-item-text-color);
  transition: background-color 0.2s linear;
  font-size: var(--tabs-item-font-size);
  font-weight: var(--text-weight-medium);
  gap: var(--space-inline);
  z-index: 2;
  border-radius: var(--tabs-item-rounding);

  @include no-selection;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    --tabs-item-background-color: var(--tabs-item-hover-background-color);
  }

  &.Selected,
  &:active {
    z-index: 1;
    &:hover,
    &:focus-visible {
      --tabs-item-background-color: transparent;
    }
  }
}

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tabs-item-active-background-color);
  backdrop-filter: blur(16px) saturate(180%);
  border-radius: var(--tabs-item-rounding);
  box-shadow: var(--shadow-1), var(--shadow-2);
  z-index: 0;
}

.Icon {
  font-size: var(--tabs-item-icon-size);
  height: var(--tabs-item-icon-size);
  z-index: 1;
}

.Label {
  z-index: 1;
}

.Badge {
  color: var(--tabs-item-badge-text-color);
  background-color: var(--tabs-item-badge-background-color);
  margin-left: 2px;
  margin-right: -4px;
  font-size: var(--tabs-item-badge-text-size);
  min-width: var(--tabs-item-badge-size);
  min-height: var(--tabs-item-badge-size);
  border-radius: var(--tabs-item-badge-rounding);
  z-index: 1;
}
