@import 'src/global/mixins';

/*
--tabs-background-color
--tabs-hover-background-color
--tabs-border-color
--tabs-text-color
--tabs-active-background-color
--tabs-active-border-color
--tabs-active-text-color
--tabs-gap
*/

:global(:root) {
  --tabItemBackgroundColor: transparent;
  --tabItemTextColor: var(--default-700);
  --tabHoveredItemBackgroundColor: var(--default-200);
  --tabHoveredItemTextColor: var(--default-700);
  --tabSelectedItemBackgroundColor: transparent;
  --tabSelectedItemTextColor: var(--default-900);

  --tabs-item-background-color: var(--tabItemBackgroundColor);
  --tabs-item-text-color: var(--tabItemTextColor);
  --tabs-item-border-color: transparent;
  --tabs-item-hover-background-color: var(--tabHoveredItemBackgroundColor);
  --tabs-item-hover-border-color: transparent;
  --tabs-item-hover-text-color: var(--tabHoveredItemTextColor);
  --tabs-item-active-background-color: var(--tabSelectedItemBackgroundColor);
  --tabs-item-active-border-color: var(--default-900);
  --tabs-item-active-text-color: var(--tabSelectedItemTextColor);

  --tabs-badge-background-color: var(--default-300);
  --tabs-badge-text-color: var(--default-900);
}

:global(.AltroneDark) {
  --tabItemBackgroundColor: transparent;
  --tabItemTextColor: var(--default-200);
  --tabHoveredItemBackgroundColor: var(--default-800);
  --tabHoveredItemTextColor: var(--default-200);
  --tabSelectedItemBackgroundColor: transparent;
  --tabSelectedItemTextColor: var(--default-50);

  --tabs-item-background-color: var(--tabItemBackgroundColor);
  --tabs-item-text-color: var(--tabItemTextColor);
  --tabs-item-border-color: transparent;
  --tabs-item-hover-background-color: var(--tabHoveredItemBackgroundColor);
  --tabs-item-hover-border-color: transparent;
  --tabs-item-hover-text-color: var(--tabHoveredItemTextColor);
  --tabs-item-active-background-color: var(--tabSelectedItemBackgroundColor);
  --tabs-item-active-border-color: var(--default-50);
  --tabs-item-active-text-color: var(--tabSelectedItemTextColor);

  --tabs-badge-background-color: var(--default-700);
  --tabs-badge-text-color: var(--default-50);
}

.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  padding: 4px calc(8px + var(--tabs-gap));
  background-color: var(--tabs-item-background-color);
  color: var(--tabs-item-text-color);
  border-bottom: 2px solid var(--tabs-item-border-color);
  transition: background-color 0.2s linear;
  gap: var(--s-gap);
  z-index: 1;

  @include label-heading;
  @include no-selection;
  text-decoration: none;
  cursor: pointer;

  @include focus;

  &:hover,
  &:focus-visible {
    color: var(--tabs-item-hover-text-color);
    border-bottom-color: var(--tabs-item-hover-border-color);
  }

  &.Selected,
  &:active {
    background-color: var(--tabs-item-active-background-color);
    color: var(--tabs-item-active-text-color);
    border-bottom-color: var(--tabs-item-active-border-color);

    &:hover,
    &:focus-visible {
      background-color: var(--tabSelectedItemBackgroundColor);
      color: var(--tabSelectedItemTextColor);
    }
  }
}

.Icon {
  font-size: 16px;
  height: 16px;
}

.Badge {
  color: var(--tabs-badge-text-color);
  background-color: var(--tabs-badge-background-color);
  margin-left: 2px;
}
