:global([data-altrone-root='true']) {
  --date-picker-header-text-color: var(--text-2);
  --date-picker-header-text-size: 14px;
  --date-picker-header-hover-text-color: var(--accent-11);

  --date-picker-cell-text-color: var(--text-2);
  --date-picker-cell-text-size: 14px;
  --date-picker-cell-backdrop-color: var(--interactive-a1);
  --date-picker-cell-selected-text-color: var(--accent-11);
}

.DatePickerWrapper {
  width: 100%;
}

.DatePicker {
  text-align: left;
  cursor: pointer;
}

.Readonly {
  cursor: unset;
}
