@import 'src/global/mixins';

.Item {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.Label {
  color: var(--side-navigation-item-text-color);
  font-size: var(--side-navigation-item-text-size);
  font-weight: 500;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s linear, font-weight 0.2s linear;

  @include focus;

  &:hover,
  &:focus-visible {
    color: var(--side-navigation-item-active-text-color);
  }
}

.Selected {
  .Label {
    font-weight: 600;
    color: var(--side-navigation-item-active-text-color);
  }
}

.Children {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-left: var(--l-gap);
}
