@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --form-field-label-text-color: var(--text-2);
  --form-field-description-text-color: var(--text-1);
  --form-field-required-mark-color: var(--danger-color);
  --form-field-error-message-text-color: var(--danger-color);
}

.Field {
  display: flex;
  flex-direction: column;
  gap: var(--xs-gap);
  width: 100%;
}

.Label {
  display: flex;
  align-items: center;

  color: var(--form-field-label-text-color);
  font-weight: 500;
  font-size: 14px;
}

.HintIcon {
  margin-left: var(--s-gap);
  font-size: 12px;
  width: 18px !important;
  height: 18px !important;
}

.Asterisk {
  color: var(--form-field-required-mark-color);
  margin-left: 2px;
}

.ErrorMessage {
  color: var(--form-field-error-message-text-color);
  font-weight: 450;
  font-size: 12px;
}

.Description {
  color: var(--form-field-description-text-color);
  font-weight: 450;
  font-size: 12px;
}

.Control {
  height: fit-content;
}

.Invalid {
  .Label {
    color: var(--form-field-error-message-text-color);
  }
}

.Disabled {
  .Label {
    color: var(--disabled-text-color);
  }
}
