@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --checkbox-background-color: var(--accent-9);
  --checkbox-checked-background-color: var(--accent-10);
  --checkbox-icon-color: var(--white);
  --checkbox-danger-background-color: var(--red-9);
  --checkbox-danger-checked-background-color: var(--red-10);
  --checkbox-text-color: var(--text-2);
}

.Checkbox {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  gap: var(--gap);
  cursor: pointer;
  padding: 3px 4px;
  height: 32px;
  border-radius: 6px;
  outline: none;

  @include no-selection;
}

.Input {
  display: none;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--checkbox-background-color);
  border-radius: 8px;
  transition: background-color 0.1s linear;
  color: var(--checkbox-icon-color);
}

.Label {
  color: var(--checkbox-text-color);
  font-weight: 500;
  font-size: 14px;
}

.Checked {
  --checkbox-background-color: var(--checkbox-checked-background-color);
}

.Indetermination {
  width: 10px;
  height: 10px;
  border-radius: 4px;
  background-color: var(--checkbox-icon-color);
}

.Disabled {
  --checkbox-background-color: var(--background-a2);
  --checkbox-icon-color: var(--text-a2);
  --checkbox-text-color: var(--disabled-text-color);
  cursor: not-allowed;
}

.Danger {
  --checkbox-background-color: var(--red-9);
  --checkbox-checked-background-color: var(--red-10);
  --checkbox-text-color: var(--danger-color);
}
