@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --checkbox-background-color: var(--interactive-1);
  --checkbox-checked-background-color: var(--accent-5);
  --checkbox-border-color: var(--border-1);
  --checkbox-hover-background-color: var(--interactive-2);
  --checkbox-checked-border-color: var(--accent-6);
  --checkbox-icon-color: var(--accent-12);
  --checkbox-danger-background-color: var(--red-9);
  --checkbox-danger-checked-background-color: var(--red-10);
  --checkbox-text-color: var(--text-2);
  --checkbox-size: 24px;
  --checkbox-rounding: 8px;
  --checkbox-indetermination-size: 10px;
  --checkbox-indetermination-rounding: 4px;
}

.Checkbox {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  gap: var(--gap);
  cursor: pointer;
  padding: 3px 4px;
  height: 32px;
  border-radius: var(--checkbox-rounding);
  outline: none;

  @include no-selection;

  &:hover {
    --checkbox-background-color: var(--checkbox-hover-background-color);
  }

  &:focus-visible {
    .Button {
      outline: 2px solid var(--focus-color);
      outline-offset: 2px;
    }
  }
}

.Input {
  display: none;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background-color: var(--checkbox-background-color);
  border-radius: var(--checkbox-rounding);
  transition: background-color 0.1s linear;
  box-shadow:
    0 0 0 1px var(--checkbox-border-color),
    var(--shadow-1);
  color: var(--checkbox-icon-color);
  flex-shrink: 0;
}

.Label {
  color: var(--checkbox-text-color);
  @include label;
}

.Checked {
  --checkbox-background-color: var(--checkbox-checked-background-color);
  --checkbox-border-color: var(--checkbox-checked-border-color);

  &:hover {
    --checkbox-background-color: var(--checkbox-checked-background-color);
  }
}

.Indetermination {
  width: var(--checkbox-indetermination-size);
  height: var(--checkbox-indetermination-size);
  border-radius: var(--checkbox-indetermination-rounding);
  background-color: var(--checkbox-icon-color);
}

.Disabled {
  --checkbox-background-color: var(--background-a2);
  --checkbox-icon-color: var(--text-a2);
  --checkbox-text-color: var(--disabled-text-color);
  cursor: not-allowed;
  pointer-events: none;
}

.Danger {
  --checkbox-text-color: var(--danger-text-1);
}
