@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --search-placeholder-color: var(--placeholder-text-color);
  --search-icon-size: 18px;
}

.Search {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.Empty {
  text-align: center;
}

.Placeholder {
  display: flex;
  position: absolute;
  width: 80%;
  height: 100%;
  color: var(--search-placeholder-color);
  top: 0;
  left: 10%;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  pointer-events: none;
  gap: var(--narrow-gap);
  z-index: var(--level-sticky);

  @include paragraph;
}

.PlaceholderText {
  width: auto;
  max-width: calc(100% - 18px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.DisabledPlaceholder {
  opacity: 0.5;
}

.PlaceholderIcon {
  display: inline-block;
  font-size: var(--search-icon-size);
  height: var(--search-icon-size);
  width: var(--search-icon-size);
}
