@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --tags-item-text-color: var(--text-2);
  --tags-hovered-item-color: var(--accent-11);
}

.Item {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--tags-item-text-color);
  transition: color 0.2s linear;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: var(--tags-hovered-item-color);
    text-decoration: underline;
  }
}
