:global([data-altrone-root='true']) {
  --gray-1: color(display-p3 0.988 0.988 0.992);
  --gray-2: color(display-p3 0.976 0.976 0.984);
  --gray-3: color(display-p3 0.94 0.941 0.953);
  --gray-4: color(display-p3 0.908 0.909 0.925);
  --gray-5: color(display-p3 0.88 0.881 0.901);
  --gray-6: color(display-p3 0.85 0.852 0.876);
  --gray-7: color(display-p3 0.805 0.808 0.838);
  --gray-8: color(display-p3 0.727 0.733 0.773);
  --gray-9: color(display-p3 0.547 0.553 0.592);
  --gray-10: color(display-p3 0.503 0.512 0.549);
  --gray-11: color(display-p3 0.379 0.392 0.421);
  --gray-12: color(display-p3 0.113 0.125 0.14);

  --gray-a1: color(display-p3 0.024 0.024 0.349 / 0.012);
  --gray-a2: color(display-p3 0.024 0.024 0.349 / 0.024);
  --gray-a3: color(display-p3 0.004 0.004 0.204 / 0.059);
  --gray-a4: color(display-p3 0.012 0.012 0.184 / 0.091);
  --gray-a5: color(display-p3 0.004 0.039 0.2 / 0.122);
  --gray-a6: color(display-p3 0.008 0.008 0.165 / 0.15);
  --gray-a7: color(display-p3 0.008 0.027 0.184 / 0.197);
  --gray-a8: color(display-p3 0.004 0.031 0.176 / 0.275);
  --gray-a9: color(display-p3 0.004 0.02 0.106 / 0.455);
  --gray-a10: color(display-p3 0.004 0.027 0.098 / 0.499);
  --gray-a11: color(display-p3 0 0.02 0.063 / 0.62);
  --gray-a12: color(display-p3 0 0.012 0.031 / 0.887);
}

:global([data-altrone-root='true'][data-altrone-theme='dark']) {
  --gray-1: color(display-p3 0.067 0.067 0.074);
  --gray-2: color(display-p3 0.095 0.098 0.105);
  --gray-3: color(display-p3 0.13 0.135 0.145);
  --gray-4: color(display-p3 0.156 0.163 0.176);
  --gray-5: color(display-p3 0.183 0.191 0.206);
  --gray-6: color(display-p3 0.215 0.226 0.244);
  --gray-7: color(display-p3 0.265 0.28 0.302);
  --gray-8: color(display-p3 0.357 0.381 0.409);
  --gray-9: color(display-p3 0.415 0.431 0.463);
  --gray-10: color(display-p3 0.469 0.483 0.514);
  --gray-11: color(display-p3 0.692 0.704 0.728);
  --gray-12: color(display-p3 0.93 0.933 0.94);

  --gray-a1: color(display-p3 0 0 0 / 0);
  --gray-a2: color(display-p3 0.875 0.992 1 / 0.034);
  --gray-a3: color(display-p3 0.882 0.933 0.992 / 0.077);
  --gray-a4: color(display-p3 0.882 0.953 0.996 / 0.111);
  --gray-a5: color(display-p3 0.878 0.929 0.996 / 0.145);
  --gray-a6: color(display-p3 0.882 0.949 0.996 / 0.183);
  --gray-a7: color(display-p3 0.882 0.929 1 / 0.246);
  --gray-a8: color(display-p3 0.871 0.937 1 / 0.361);
  --gray-a9: color(display-p3 0.898 0.937 1 / 0.42);
  --gray-a10: color(display-p3 0.918 0.945 1 / 0.475);
  --gray-a11: color(display-p3 0.949 0.969 0.996 / 0.708);
  --gray-a12: color(display-p3 0.988 0.992 1 / 0.937);
}
