.Toast {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--toast-text-size);
  font-weight: 500;
  padding: 4px 12px;
  background: var(--toast-background-color);
  backdrop-filter: blur(32px) saturate(180%);
  box-shadow: var(--shadow-1), var(--shadow-5);
  min-height: 48px;
  border-radius: 24px;
}

.Label {
  font-size: var(--toast-text-size);
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.Success {
  color: var(--toast-success-text-color);
}

.Warning {
  color: var(--toast-warning-text-color);
}

.Danger {
  color: var(--toast-danger-text-color);
}
