.Toast {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--toast-text-size);
  font-weight: 500;
  padding: 0 12px;
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.Success {
  color: var(--toast-success-text-color);
}

.Warning {
  color: var(--toast-warning-text-color);
}

.Danger {
  color: var(--toast-danger-text-color);
}
