.Toast {
  display: flex;
  align-items: center;
  gap: var(--gap);
  color: var(--toastTextColor);
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--toastTextColor);
}

.Success {
  .Icon {
    color: var(--toastSuccessTextColor);
  }
}

.Warning {
  .Icon {
    color: var(--toastWarningTextColor);
  }
}

.Danger {
  .Icon {
    color: var(--toastDangerTextColor);
  }
}