@import '../../../_mixins';

.alt-floating-box {
  display: block;
  position: absolute;
  border-radius: 12px;
  font-size: 12px;
  padding: 8px;
  box-shadow: inset 0 0 0 1px var(--surfaceTrasparent), 0 3px 25px 0 rgba(black, 0.1);
  color: var(--textColor);
  z-index: 1000;
  transition: box-shadow var(--transitionDuration) ease;

  @include useGlassSurface();
}

.alt-floating-box--surface-none {
  background-color: transparent;
  box-shadow: none;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-floating-box--surface-transparent {
  background-color: var(--surfaceTrasparent);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-floating-box--surface-solid {
  background-color: var(--surface);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-floating-box--surface-paper {
  background-color: var(--background);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.alt-floating-box--surface-metal {
  background: linear-gradient(to bottom, var(--metalTop) 0%, var(--metalBottom) 100%);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

@include useElevation('alt-floating-box', 'inset 0 0 0 1px var(--surfaceTrasparent)');