:global([data-altrone-root='true']) {
  --breadcrumbs-separator-color: var(--border-1);
  --breadcrumbs-item-text-color: var(--text-2);
  --breadcrumbs-current-item-text-color: var(--accent-12);

  --breadcrumbs-text-size: 14px;
}

.Breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--l-gap);
}

.Separator {
  color: var(--breadcrumbs-separator-color);
}
