:global([data-altrone-root='true']) {
  --dummy-box-background-color: var(--background-2);
  --dummy-box-border-color: var(--border-a1);
}

.DummyBox {
  background: repeating-linear-gradient(
    45deg,
    var(--dummy-box-background-color),
    var(--dummy-box-background-color) 4px,
    var(--dummy-box-border-color) 4px,
    var(--dummy-box-border-color) 5px
  );
  box-shadow: inset 0 0 0 1px var(--border-1);
  user-select: none;
}
