@mixin useFocus {
  &:focus, &:focus-visible {
    box-shadow: 0 0 0 3px var(--accentFocus);
    outline: 0;
  }
}

@mixin useInteraction() {
  &:hover, &:focus, &:focus-visible {
    @content;
  }
}

@mixin useDisabledUserSelect {
  -webkit-user-select: none;
  user-select: none;
}

@mixin useFontSize($role, $size: '', $withStyle: true) {
  --fontSize: var(--#{$role}#{$size}FontSize);
  --lineHeight: var(--#{$role}#{$size}LineHeight);
  --fontWeight: var(--#{$role}#{$size}FontWeight);

  @if($withStyle) {
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    font-weight: var(--fontWeight);
  }
}