@mixin useFocus {
  &:focus, &:focus-visible {
    box-shadow: 0 0 0 3px var(--accentFocus);
    outline: 0;
  }
}

@mixin useInteraction() {
  &:hover, &:focus, &:focus-visible {
    @content;
  }
}

@mixin useDisabledUserSelect {
  -webkit-user-select: none;
  user-select: none;
}

@mixin useGlassSurface {
  background-color: var(--surfaceGlass);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}