@font-face {
  font-family: "OpenSans";
  src: url("assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: "OpenSans Italic";
  src: url("assets/fonts/OpenSans_italic.ttf");
}

.altrone {
  --background: #ffffff;
  --surface: #fafafa;
  --textColor: #202124;
  --secondaryTextColor: #6b8a99;
  --dividerColor: #6b7a99;
  --borderColor: #b0bec5;
  --gap: 4px;

  --accent: #03A9F4;
  --accentBorderColor: #0288D1;
  --textColorOnAccent: #ffffff;

  --success: #4caf50;
  --successBorderColor: #388e3c;
  --textColorOnSuccess: #ffffff;

  --danger: #E53935;
  --dangerBorderColor: #C62828;
  --textColorOnDanger: #ffffff;

  --transitionDuration: 0.2s;

  --smallControlHeight: 28px;
  --controlHeight: 34px;
  --largeControlHeight: 42px;
  --xlargeControlHeight: 54px;

  display: block;
  font-family: OpenSans, sans-serif;
  background-color: var(--background);
  color: var(--textColor);

  * {
    box-sizing: border-box;
  }
}

.altrone--dark {
  --background: #010b18;
  --surface: #212121;
  --borderColor: #455A64;
  --textColor: #ffffff;
  --accent: #0288d1;
  --accentBorderColor: #01579b;
}