[data-altrone-root='true'] .os-scrollbar {
  --os-size: 6px;
  --os-padding-perpendicular: 0;
  --os-padding-axis: 0;
  --os-track-border-radius: 3px;
  --os-track-bg: transparent;
  --os-track-bg-hover: var(--interactive-a1);
  --os-track-bg-active: var(--interactive-a2);
  --os-track-border: none;
  --os-track-border-hover: none;
  --os-track-border-active: none;
  --os-handle-border-radius: 4px;
  --os-handle-bg: var(--solid-2);
  --os-handle-bg-hover: var(--text-1);
  --os-handle-bg-active: var(--text-2);
  --os-handle-border: none;
  --os-handle-border-hover: none;
  --os-handle-border-active: none;
  --os-handle-min-size: 32px;
  --os-handle-max-size: 100%;
  --os-handle-perpendicular-size: 100%;
  --os-handle-perpendicular-size-hover: 100%;
  --os-handle-perpendicular-size-active: 100%;
  --os-handle-interactive-area-offset: 20px;
}
