@import 'src/global/mixins';

:global([data-altrone-root='true']) {
  --switcher-background-color: var(--interactive-a1);
  --switcher-border-color: var(--border-a1);
  --switcher-label-text-color: var(--text-2);
  --switcher-icon-color: var(--solid-a1);
  --switcher-hover-background-color: var(--interactive-a2);
  --switcher-checked-background-color: var(--accent-a3);
  --switcher-checked-border-color: var(--accent-a5);
  --switcher-checked-icon-color: var(--accent-12);
}

.Switcher {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  gap: var(--gap);
  cursor: pointer;
  padding: 3px 4px;
  height: 24px;
  border-radius: 4px;
  outline: none;

  @include no-selection;

  &:hover,
  &:focus-visible {
    --switcher-background-color: var(--switcher-hover-background-color);
  }
}

.Input {
  display: none;
}

.Button {
  display: flex;
  position: relative;
  align-items: center;
  width: 48px;
  height: 24px;
  background-color: var(--switcher-background-color);
  border-radius: 12px;
  transition: background-color 0.1s linear;
  color: var(--switcher-icon-color);
  box-shadow: 0 0 0 1px var(--switcher-border-color), var(--shadow-1);
}

.Handle {
  position: absolute;
  background-color: var(--switcher-icon-color);
  width: 16px;
  left: 3px;
  height: 16px;
  border-radius: 8px;
  transition: left 0.3s ease, width 0.2s ease;
}

.Label {
  color: var(--switcher-label-text-color);
  font-weight: 500;
  font-size: 14px;
}

.Checked {
  --switcher-background-color: var(--switcher-checked-background-color);
  --switcher-icon-color: var(--switcher-checked-icon-color);
  --switcher-border-color: var(--switcher-checked-border-color);

  &:hover {
    --switcher-background-color: var(--switcher-checked-background-color);
  }

  .Handle {
    left: 20px;
    width: 24px;
  }
}

.Disabled {
  --switcher-background-color: var(--background-a2);
  --switcher-icon-color: var(--border-a1);
  --switcher-border-color: var(--interactive-a1);
  --switcher-label-text-color: var(--disabled-text-color);

  cursor: not-allowed;

  &:hover {
    --switcher-background-color: var(--background-a2);
  }
}

.Danger {
  --switcher-label-text-color: var(--danger-color);
}
