@import 'src/global/mixins';

.Logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease;
  margin-right: var(--l-gap);
  @include focus;
  border-radius: 6px;

  > * {
    height: 24px;
    width: auto;
  }

  &:hover {
    opacity: 0.75;
  }
}