@import '../../../_mixins';

.alt-textarea {
  min-height: 5em;
  max-height: 45em;
  margin: 0;
  padding: 6px 12px;
  background-color: var(--background);
  color: var(--textColor);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid var(--borderColor);
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--surfaceTrasparent);
  transition: box-shadow var(--transitionDuration) ease, opacity var(--transitionDuration) ease;
  resize: vertical;

  @include useFontSize(body);
  @include useFocus();
  @include useSoftShadow();
}

.alt-basic-input--size-small {
  .alt-textarea {
    @include useFontSize(body, Small);
  }
}

.alt-basic-input--size-large {
  .alt-textarea {
    @include useFontSize(body, Large);
  }
}

.alt-basic-input--invalid {
  .alt-textarea {
    @include useInvalid();
  }
}